[2019-10-16 12:02] kblok commented on #1303
That should be EvaluateExpressionAsync. Thanks for reporting that!

[2019-10-17 21:53] Legends opened #1305 "Chromium revision is not downloaded"
1. .net 4.8
2. console app (framework)
3. Chrome Version 77.0.3865.120 (Official Build) (64-bit)
4. `Install-Package PuppeteerSharp -Version 1.20.0`

Getting this in  `Main`:

![image](https://user-images.githubusercontent.com/966368/67050567-16d50580-f139-11e9-82c5-07b7e9a2b9c9.png)

Also checked prereqs, but everything is fine.

What else should I do?

[2019-10-17 22:06] kblok commented on #1305
Did you run DownloadAsync?
Can you share some code?

[2019-10-17 22:10] Legends commented on #1305
This is all I have in `Main`:

[code]

[2019-10-17 22:17] Legends commented on #1305
[code]

[2019-10-17 22:17] kblok commented on #1305
If you take a look at some of the examples you'll find out that you need go download chromium first https://github.com/kblok/puppeteer-sharp#generate-pdf-files

[2019-10-17 22:30] Legends commented on #1305
I put `await new BrowserFetcher().DownloadAsync(BrowserFetcher.DefaultRevision);` in `main` and it took a while before the app was exiting.
The console showed a black screen.

Now when I hit F5 the breakpoints I set won't even be hit.
Something is corrupted now...

But I don't get the error message anymore.

[2019-10-18 00:02] #1305 closed

[2019-10-18 08:17] Legends commented on #1305
@kblok Just one little question:

Are we allowed to remove `await new BrowserFetcher().DownloadAsync(BrowserFetcher.DefaultRevision);` after the default revison has been installed once or does this statement have to be in code all the time?

[2019-10-18 08:44] Legends opened #1306 "Invalid selector"
`var elemId = "bla_bluv_mab:bla_mar";
await page.WaitForSelectorAsync(elemId);`

_PuppeteerSharp.EvaluationFailedException: 'Evaluation failed: DOMException: Failed to execute 'querySelector' on 'Document': 'bla_bluv_mab:bla_mar' is not a valid selector._

[2019-10-18 08:56] Meir017 commented on #1306
@Legends your selector is wrong
try something like
https://stackoverflow.com/questions/45110893/select-elements-by-attributes-with-colon

[code]

[2019-10-18 11:08] #1303 closed

[2019-10-18 18:21] FruitAndAShape opened #1307 "Something happens and .net will no longer run"
I'm using the component like this...

[code]

Somewhat regularly, .net won't start. Sometimes I get a lengthy error log. I think I saw on another forum that the web server service was clashing with PuppeteerSharp. I have to reboot my machine in order to get things back to normal.

I'm running on Mac OS.

[2019-10-18 18:22] kblok commented on #1307
The lengthy error might be useful.

[2019-10-18 18:25] FruitAndAShape commented on #1307
It was hiding behind some windows. I have rebooted and I will post it when it absolutely certainly returns in about half an hour.

[2019-10-18 18:30] FruitAndAShape commented on #1307
I'm requesting a page that's not working for some reason. This seems to trigger the above error. It's as if something crashes and isn't cleaned up properly and that stops further requests from working.

Process:               dotnet [817]
Path:                  /usr/local/share/dotnet/dotnet
Identifier:            dotnet
Version:               0
Code Type:             X86-64 (Native)
Parent Proces

[2019-10-18 18:36] FruitAndAShape commented on #1307
The error is "dotnet quit unexpectidly".

https://github.com/dotnet/core/issues/3417

Not sure why this would happen intermittently.

[2019-10-19 08:50] Legends opened #1308 "Strong name - sign assembly"
I want to build a project and sign it (currently using a test cert).
But this ends with the following error:

![image](https://user-images.githubusercontent.com/966368/67140747-f5ba0500-f25d-11e9-82e5-61e3e981a632.png)

A little bit of googling regarding my problem and it seems that the issue is the following:
**CSC : warning CS8002: Referenced assembly 'PuppeteerSharp, Version=1.0.0.0, Culture=ne

[2019-10-19 13:04] psclkhoury opened #1309 "Add local javascript script to html"
Hey, sorry if this is not the right place to ask.

I'm using PuppeteerSharp in an `ASP.NET core` project to generate reports. I basically generate all the html document using `handlebars` and then inject the whole html using `SetContentAsync`.

I have a local javascript library bundle (`Chartjs.bundle.min`) and I am not able to figure out which path I should use to make chromium see it.

I tried a

[2019-10-19 14:27] Legends commented on #1308
Signed it myself

[2019-10-19 14:27] #1308 closed

[2019-10-19 15:07] FruitAndAShape commented on #1307
I ran... `lsof -i:52152` and it listed a couple of processes listening on the port, which I killed and now it works again. But these processes are supposed to be running because they're serving my website. So the server-side app appears to crash in the background or something...?

[2019-10-19 15:35] FruitAndAShape commented on #1307
The error in my document was `WaitForSelectorAsync` timing out.

[2019-10-19 17:48] FruitAndAShape commented on #1307
I can see CLOSE_WAIT sockets after running lsof.

[2019-10-21 22:15] kblok commented on #1309
@psclkhoury you will need to register the js using the [file protocol](https://docs.microsoft.com/en-us/previous-versions/aa767731(v%3Dvs.85))

[2019-10-22 16:44] psclkhoury commented on #1309
Tried that but then got an error:
[code]

[2019-10-25 10:54] kblok opened #1310 "Clarify `TypeAsync` method examples"
https://github.com/GoogleChrome/puppeteer/commit/dc57d03c1957cc9fb44b4b8eebdefe26a39aeb20

[2019-10-25 10:57] kblok opened #1311 "Avoid unnecessary zero-delays in input code"
https://github.com/GoogleChrome/puppeteer/commit/3773229ac276a84a4de113e74290abc3bbf60499

[2019-10-25 10:57] kblok opened #1312 "Roll Chromium to r705776"
https://github.com/GoogleChrome/puppeteer/commit/81d26002361f2485d4ae8a9758be25e65d4c1c01

[2019-10-25 10:58] kblok opened #1313 "Add page.emulateMedia{Type,Features}"
https://github.com/GoogleChrome/puppeteer/commit/a86363fda695865ddc7c5eeb3c958f5c2da8e61b
https://github.com/GoogleChrome/puppeteer/commit/8132b39a6c494b2e2ff7db6b5c062d787b2e8785

[2019-10-25 10:59] kblok opened #1314 "Add page.emulateTimezone(timezoneId)"
https://github.com/GoogleChrome/puppeteer/commit/1248a19135fe54b8fe42e15435c11c3c8aa949d2

[2019-10-25 11:00] kblok opened #1315 "Improve page.waitFor docs for the `options` object"
https://github.com/GoogleChrome/puppeteer/commit/7f3e372b14abc0dc7792f48909c5066476caa4d1

[2019-10-25 11:01] kblok opened #1316 "Add page.screenshot viewport clipping test"
https://github.com/GoogleChrome/puppeteer/commit/360c1b4c7d5e54a3804dcae65b286fb4f2b35713

[2019-10-28 11:06] #1310 closed

[2019-10-28 13:18] #1309 closed

[2019-10-28 13:30] kblok commented on #1309
@psclkhoury I wasn't able to get to this issue yet, did you find a solution?

[2019-10-28 15:23] psclkhoury commented on #1309
@kblok I didn't find a solution. I ended up just reading the file into a string and adding the string in the `<script>` tag. If you have a better solution I would appreciate it, otherwise this workaround is good enough for now.

[2019-10-30 10:27] #1315 closed

[2019-10-30 13:19] aengl commented on #1181
Is that an unwanted feature?

I had a look at https://github.com/GoogleChrome/puppeteer/blob/master/lib/BrowserFetcher.js which could easily be expanded to handle ARM. The only question is whether there is an ARM binary on https://storage.googleapis.com/chromium-browser-snapshots/index.html, which is a bit of a mess to navigate.

If there's interest I can look into creating a PR.

[2019-10-30 13:29] kblok commented on #1181
@aengl yeah you could create an issue there. The main question is if they are building ARM binaries for every revision.

[2019-10-31 16:12] Pablogrind commented on #1307
I have the same problem, after 10 seconds of generating the pdf the process stops

[2019-10-31 16:24] jzabroski commented on #1307
Create an unhandledexception handler, please.

[2019-10-31 16:26] Pablogrind commented on #1307
System.NullReferenceException
  HResult=0x80004003
  Message=Object reference not set to an instance of an object.
  Source=mscorlib
  StackTrace:
   at System.Threading.Tasks.SynchronizationContextAwaitTaskContinuation.PostAction(Object state)
   at System.Threading.Tasks.AwaitTaskContinuation.RunCallback(ContextCallback callback, Object state, Task& currentTask)
   at System.Threading.Tasks.Awai

[2019-10-31 16:27] Pablogrind commented on #1307
`System.NullReferenceException
  HResult=0x80004003
  Message=Object reference not set to an instance of an object.
  Source=mscorlib
  StackTrace:
   at System.Threading.Tasks.SynchronizationContextAwaitTaskContinuation.PostAction(Object state)
   at System.Threading.Tasks.AwaitTaskContinuation.RunCallback(ContextCallback callback, Object state, Task& currentTask)
   at System.Threading.Tasks.Awa

[2019-10-31 17:47] sjdirect opened #1322 "Is there any way to pass an html string of a raw page to have puppeteer render the full page with all js?"
I am the author of Abot/AbotX (c# web crawler). I wanted to create another js rendering impl using chrome headless (have a working impl for phantomjs) Currently phantomjs allows me to pass raw html to it and it will do the final rendering (without having to rerequest the page again). This allows me to offer javascript rendering as an additional step in the current crawl process. Can Puppeteer/chro

[2019-10-31 22:33] Pablogrind commented on #1307
i fix adding the following element in Web.config

`<appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
</appSettings>`

[2019-11-01 00:37] jzabroski commented on #1307
@Pablogrind  So do you think this should be closed?

[2019-11-02 08:52] ChrisWongAtCUHK commented on #716
Set **SlowMo** to 1000, there is exception:
_PuppeteerSharp.NavigationException: Timeout Exceeded: 30000ms exceeded_

https://github.com/ChrisWongAtCUHK/PuppetTest

[2019-11-02 13:06] kblok commented on #716
@ChrisWongAtCUHK can you create a new issue?

[2019-11-02 14:15] #1312 closed

[2019-11-02 18:40] #1314 closed

[2019-11-02 18:40] #1316 closed

[2019-11-04 15:25] tedvanderveen opened #1325 "How to use dedicated Browserless Docker container instance with PuppeteerSharp?"
I would like to completely isolate all things related to hosting/running Chrome from my core application runtimes. So I'm hosting our own Browserless.io Docker container (https://hub.docker.com/r/browserless/chrome/dockerfile). But this results in various web socket connections dropped during sessions.

Can you confirm this should work at all? Maybe I'm not using the right version/tag? See https:/

[2019-11-05 09:48] Priyanker opened #1326 "The remote party closed the WebSocket connection without completing the close handshake."
`await new BrowserFetcher().DownloadAsync(BrowserFetcher.DefaultRevision); `
`var browserLaunchArgs = new[] { "--no-sandbox", "--disable-setuid-sandbox", "--disable-dev-shm-usage" };`

`var browser = await Puppeteer.LaunchAsync(new LaunchOptions { Headless = true, Args = browserLaunchArgs });`
`var pages = await browser.PagesAsync();`

The Puppeteer version I am using is 1.18.0
And the .Net Core v

[2019-11-05 11:11] #1313 closed

[2019-11-05 21:57] #1311 closed

[2019-11-05 22:54] davidrevoledo opened #1329 "Error trying to connect to browserless"
### Description

Trying to connect puppeteer-sharp with browserless to run in Azure App Service or Docker
Used code here : http://www.hardkoded.com/blogs/azure-chrome-puppeteer-browserless

### Complete minimal example reproducing the issue
[code]

### Actual behavior:

Error : ``` PuppeteerSharp.MessageException: 'Protocol error (Target.setAutoAttach): Invalid parameters waitForDebuggerOnStart: b

[2019-11-06 04:24] albertkurland opened #1330 "Getting 'Could not load type 'PuppeteerSharp.RevisionInfo' from assembly 'PuppeteerSharp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'"
Just created a new Console .Net Framework 4.7.1 app with VS 2017.
Ran Install-Package PuppeteerSharp -Version 1.20.0

Trying to run the first sample below in VS debugger and getting an error below. I see PuppeteerSharp.DLL in \bin\Debug directory.

Getting 'Could not load type 'PuppeteerSharp.RevisionInfo' from assembly 'PuppeteerSharp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'

    c

[2019-11-06 11:39] kblok commented on #1329
It looks like you are connected to a quite old Chromium version, older than even 73.0.3679.0, which is the version that added support to  `waitForDebuggerOnStart`.

Do we have a way to choose the Chromium version in Browserless?

[2019-11-06 11:42] kblok commented on #1326
That's not your entire code, right?
It seems that Chromium is crashing when you try to take a screenshot.

[2019-11-06 11:43] kblok commented on #1325
Which kind of app is your puppeteer app? Console/Web Core/Framework...

[2019-11-06 11:46] kblok commented on #1322
Hey @sjdirect.

You can inject content using [SetContentAsync](https://www.puppeteersharp.com/api/PuppeteerSharp.Page.html#PuppeteerSharp_Page_SetContentAsync_System_String_PuppeteerSharp_NavigationOptions_). You can take a look at some tests [here](https://github.com/kblok/puppeteer-sharp/blob/74488cf1760b2d4895a4855e9be87cb50ec3c9d8/lib/PuppeteerSharp.Tests/PageTests/SetContentTests.cs).

You ca

[2019-11-06 11:56] Priyanker commented on #1326
Yes, it's not the entire code.
What are the possible reasons for this issue to occur?

[2019-11-06 12:59] kblok commented on #1289
Closed due to inactivity. Feel free to reopen it if needed.

[2019-11-06 12:59] #1289 closed

[2019-11-07 09:41] tedvanderveen commented on #1325
Sorry about this! I'm using ASP.Net Core 3.0.
I got it working after setting `AppMode = false`.

[2019-11-07 09:41] #1325 closed

[2019-11-07 11:08] kblok commented on #1309
@psclkhoury after some reading I found that's a security validation in Chrome. You don't a site try to read a file from your file system.

I like your solution, you could also host that file in some server and access it using a normal url.

[2019-11-07 21:41] ahmadalli commented on #1322
@sjdirect how about going to `data:text/html,{html}`? (try it on your browser. e.g. go to `data:text/html,<h1>hello</h1>`

[2019-11-08 10:10] dasmeer commented on #1326
hi, can you please suggest some reasons why Chromium is crashing ?

[2019-11-08 12:16] mikrodotnet opened #1331 "Proxy with credentials..."
Does anyone have a solution for using proxies that require credentials? If anyone's discovered a workaround I'd really appreciate it.

[2019-11-08 12:18] kblok commented on #1331
@mikrodotnet do we have some code example to check?

[2019-11-08 19:07] FutureTD opened #1332 "Is it possible to disable the password bubble?"
I wanted to remove the info toolbar that says "Chrome is being controlled by automated test software" so I created:

[code]
Which worked however removing that flag enables the password bubble.

I was reading on other sites how to disable that and saw:

[code]
Which doesn't not seem possible with puppeteer-sharp, So I was wondering how could I accomplish this?

[2019-11-08 19:16] kblok commented on #1332
What do you mean with "password bubble"?

[2019-11-08 19:20] FutureTD commented on #1332
The popup thats asks you if you want to save your password.

Its seems when you remove the "--enable-automation" flag that gets re-enabled.

[2019-11-08 23:53] lurock opened #1333 "EvaluateExpressionAsync does not work with async javascript functions"
### Description

EvaluateExpressionAsync does now work with a javascript function that is async. It returns immediately even though my javascript function "nextGraphic()" takes over 2 seconds to run.
The nextGraphic method has a Promise that it resolves after a 2 second setTimout call.

Here is the call I am using:

`var graphic = await page.EvaluateExpressionAsync<Graphic>("async () => await wind

[2019-11-09 14:58] kblok commented on #1333
@lurock one difference between puppeteer and puppeteer-sharp is that, as we are not being able to use native javascript code, everything is represented as a string. So you can use `EvaluateExpressionAsync` for expressions, such as `"1 + 2"` and `EvaluateFunctionAsync` for functions, such as `"() => 1 + 2"` or `"async () => await window.nextGraphic()"`.

Short answer, you have to use `EvaluateFunct

[2019-11-11 12:40] MrCorba opened #1334 "Number of Chromium Instances"
### Description

We use PuppeteerSharp (v1.9.0 .Net 4.6.1) to add the ability for users to download a PDF of our application. Unfortunately sometimes a huge number of Chromium processes are started and don't stop until a server restart.

Normally when a user downloads a pdf, 5 chromium processes start and those disappear when the download is finished.

This is our code:
[code]

[2019-11-11 12:46] kblok commented on #1334
First, you shouldn't use `task.Wait();`, you should use 'task.GetAwaiter().GetResult()'.

One thing you could do is get the processID from the browser `browser.Process.Id;`, and in your catch do something like

[code]

[2019-11-11 13:36] MrCorba commented on #1334
I know I shouldn't use `task.Wait()`, but could this really cause the problem? I always assumed, this was more a best practice approach and not something that really changes the execution.

The processId is a good Id(ea). I'll try that and see if that fixes the problem

[2019-11-11 13:38] kblok commented on #1334
`Wait` is a  locking instruction. You might be preventing Puppeteer from processing messages coming from Chromium.

[2019-11-11 20:28] #1333 closed

[2019-11-12 11:16] kblok commented on #750
Closed due to inactivity. Feel free to reopen it if needed.

[2019-11-12 11:16] #750 closed

[2019-11-12 11:23] kblok commented on #1253
Closed due to inactivity. Feel free to reopen it if needed.

[2019-11-12 11:23] #1253 closed

[2019-11-12 11:24] kblok commented on #1284
Closed due to inactivity. Feel free to reopen it if needed.

[2019-11-12 11:24] #1284 closed

[2019-11-12 15:15] Blenderpics opened #1335 "Cookie: Expire format unclear"
https://github.com/kblok/puppeteer-sharp/blob/b3111a19285ca8db9c201fc5f355f452fa6e4a8c/lib/PuppeteerSharp/CookieParam.cs#L46

Hey there!
It's not completely clear to me in which format the expires timestamp is provided.
Is it a unix timestamp?
Thanks!

[2019-11-13 11:22] kblok commented on #1335
@Blenderpics it´s unix time in seconds. Explanation added. Thanks for reporting this.

[2019-11-13 11:46] #1335 closed

[2019-11-17 03:30] mikrodotnet commented on #1331
sure, here's just a basic sample in vb.net. I've tried setting Proxy-Authorization header as well, but still no luck. As for the proxy-server arg I've tried every kind of proxy format.

[code]

[2019-11-19 07:16] ahmadalli commented on #1331
remove `http://` from the beginning of `--proxy-server` and try again

[2019-11-19 07:54] ahmadalli opened #1337 "randomly getting System.NullReferenceException on CreateIncognitoBrowserContextAsync"
### Description

I'm getting random NullReferenceExceptions on CreateIncognitoBrowserContextAsync method after upgrading to version 2

### Versions

* Which version of PuppeteerSharp are you using? 2
* Which .NET runtime and version are you targeting? .NET Core 2.0.

### Additional Information

I'm running PuppeteerSharp on alpine .net core image with this config:

[code]

[2019-11-22 13:04] maurommx commented on #1150
I am using a translator,

I had the same problem, it worked on one network, but on another it didn't work, I could only make it work when

`Browser browser = await Puppeteer.LaunchAsync(new LaunchOptions
{
   Headless = true,

 IgnoreHTTPSErrors = true,
    Args = new[] {
    "--no-sandbox",
    "--disable-infobars",
    "--disable-setuid-sandbox",
    "--ignore-ICertificatePolicy-errors",
    },

[2019-11-26 07:37] lsheng-mel opened #1338 "PuppeteerSharp.TargetClosedException: Protocol error(Page.printToPDF): Target closed. (The remote party closed the WebSocket connection without completing the close handshake.)"
Puppeteer started failing with exceptions after a few times of success:

`PuppeteerSharp.TargetClosedException: Protocol error(Page.printToPDF): Target closed. (The remote party closed the WebSocket connection without completing the close handshake.)\n   at PuppeteerSharp.CDPSession.SendAsync(String method, Object args, Boolean waitForCallback)\n   at PuppeteerSharp.CDPSession.SendAsync[T](String

[2019-11-28 11:22] kblok commented on #1338
Could you try using this image `hardkoded/puppeteer-sharp-base:latest-sandboxed`?
[Check this out](http://www.hardkoded.com/blog/puppeteer-sharp-docker).

[2019-11-30 23:59] mikrodotnet commented on #1331
@ahmadalli I've tried that also but I keep getting the same or similar error when I'm testing with my own dedicated proxies that load the same url in Chrome, Firefox etc. I just can't get Puppeteer to work with proxies that require credentials. I don't know what else to try. I'm willing to try about anything at this point.

P.S. - It does work with standard IP:port proxies that don't require crede

[2019-12-01 11:56] ahmadalli commented on #1331
@mikrodotnet My tries to achieve authenticated http proxy with chrome without getting help from other tools failed. I ended up moving my code to a docker container and create a docker compose environment with `polipo` as another service which supports `parentProxy` and `parentAuthCredentials`

here's part of my docker-compose file:

[code]

you can also install polipo or [cow](https://github.com/c

[2019-12-02 09:59] mikrodotnet commented on #1331
@ahmadalli ah ok, I'll look into using something like that. Thanks for helping me out, I appreciate it.

[2019-12-04 11:22] kblok commented on #1337
Do you have some stack trace to take a look at?

[2019-12-04 11:24] kblok commented on #1322
Closed due to inactivity. Feel free to reopen it if needed.

[2019-12-04 11:24] #1322 closed

[2019-12-05 10:59] jgilbert2017 opened #1340 "Firefox testing"
How can i test automation with Firefox?  Do I need to build a certain branch?  I don't see any relevant LaunchOptions.  Thanks.

[2019-12-05 11:01] kblok commented on #1340
@jgilbert2017 there is not support for Firefox yet.

[2019-12-05 11:05] jgilbert2017 commented on #1340
ok, i see.  the main puppeteer repo looks like could be pretty functional.  is it a lot of work to wire up p# for firefox for the purpose of testing?  my use case is pretty simple and perhaps i can fill in any broken bits and submit a patch.  thanks!

[2019-12-05 11:08] kblok commented on #1340
It might look pretty functional in the repo, but they are using a custom Firefox build and I haven't seen changes in the puppeteer-firefox codebase for a while. And as it's marked as experimental I don't think that's ready to be used for real.

[2019-12-05 11:09] jgilbert2017 commented on #1340
gotcha.

[2019-12-05 11:09] #1340 closed

[2019-12-05 18:52] selangley-wa opened #1341 "Improve docfx_project/api/index.md"
How about an example of using  Print to PDF while passing in PdfOptions?

[2019-12-05 21:48] cado1982 opened #1342 "The slack link in README.md is no longer working"
The link to https://join.slack.com/t/puppeteer/shared_invite/enQtMzU4MjIyMDA5NTM4LTM1OTdkNDhlM2Y4ZGUzZDdjYjM5ZWZlZGFiZjc4MTkyYTVlYzIzYjU5NDIyNzgyMmFiNDFjN2UzNWU0N2ZhZDc found in the Useful links section of the repo readme results in an error

Please check with the person who shared it with you to see if there's a new link available.

[2019-12-06 04:18] trieuthang1991 opened #1343 "Improve docfx_project/examples/Page.EvaluateFunctionAsync.ComplexJSObjects.md"
Explain how would you like this document to be impoved

[2019-12-06 11:18] kblok commented on #1343
@trieuthang1991 how would you like this document to be improved?

[2019-12-06 11:18] kblok commented on #1342
Thank you for reporting this. Checking the url...

[2019-12-06 11:24] #1342 closed

[2019-12-06 11:24] kblok commented on #1341
Let's do it!

[2019-12-06 11:33] #1341 closed

[2019-12-06 14:06] ahmadalli commented on #1337
I could find these from my sentry issue:

[code]

[2019-12-07 15:47] inuvano-labs commented on #1329
I reached out to browserless on twitter.

"We run the last 5 versions of puppeteers bundled Chromium & chrome stable for Dedicated (plans). Usage based (plans) are currently running puppeteer@2.0.0 Chromium"

"You can pick the version when you sign up. And can be changed any time"

@davidrevoledo  is it possible you have selected v1.12 in your account on browserless? As this matches the chromium v

[2019-12-09 12:45] davidrevoledo commented on #1329
@inuvano-labs  thanks I'll close this issue

[2019-12-09 12:45] #1329 closed

[2019-12-10 04:19] NewITCorp opened #1346 "Question: how to listen to DOM change?"
Hello Team,
I wish to listen to element changes without polling by intervals. I see there is a best practice to implement MutationObserver  in js, but dont know how to use it with the puppeteer-sharp.
Any small advise will be glad.

Thank you and respect

[2019-12-10 05:24] kblok commented on #1346
You can use ExposeFunctionAsync to expose a function, and use that function inside the observer.  This post might be useful http://www.hardkoded.com/blog/creating-whatsapp-bot-puppteer-sharp

[2019-12-11 03:41] LastTribunal opened #1347 "PuppeteerSharp.ChromiumProcessException: Failed to launch Chromium"
I have been running puppeteer for over a year in my dev windows server/windows 10 environment.  Never had any issues.
All of the sudden, I am getting this.  Code has not changed in months, I am using 2.0.0.
It seems that this is a result of a recent windows update

any ideas??

on windows 10:
'RunAsync' reported Warning for property 'RunAsyncUnhandledException'. System.AggregateException: One or m

[2019-12-11 05:47] LastTribunal commented on #1347
Turns out that Chrome.exe (chromium) is being blocked by TrendMicro.  This is a new development. Chrome.exe is from mid October, so Trend Micro(arguably the crappiest AV SW) just recently decided to black list it.  It's running on my company workstation, and I cannot disable it..

[2019-12-11 05:47] #1347 closed

[2019-12-11 10:58] RakeshAllikatti opened #1348 "Puppeteer chrome BrowserContext instead of Incognito Mode"
Can I Open Normal Browser Context, instead of Incognito mode like await browser.CreateIncognitoBrowserContextAsync(),

Please assist me

Thank you,
Rakesh

[2019-12-12 09:36] stanimirsp5 commented on #657
Same exception. Does anyone knows how to fix it?

[2019-12-14 00:48] craiginscotland opened #1349 "Improve Response"
Explain how would you like this document to be impoved.
Source URL: https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp/Response.cs/#L15

Would be great if there was an example in here (on in the examples page) of handling events.

[2019-12-16 10:36] #1346 closed

[2019-12-16 10:44] kblok commented on #1348
You can have many incognito browser contexts, but only one non-incognito, which is the [DefaultContext](https://www.puppeteersharp.com/api/PuppeteerSharp.Browser.html#PuppeteerSharp_Browser_DefaultContext)

[2019-12-16 10:45] #1343 closed

[2019-12-16 10:45] kblok commented on #1343
Closed due to inactivity. Feel free to reopen it if needed.

[2019-12-16 12:32] #1349 closed

[2019-12-17 11:23] #1348 closed

[2019-12-17 11:23] #1338 closed

[2019-12-17 11:28] kblok commented on #1337
Are you using Puppeteer.ConnectAsync or Puppeteer.LaunchAsync?

[2019-12-17 12:30] ahmadalli commented on #1337
I'm using `Puppeteer.LaunchAsync`

[2019-12-18 02:45] PccCodesix opened #1351 "just confirm set proxy can not lanuching chrome?"
### Description
When I set the proxy can not launch the browser. If I unset the proxy can launch the browser.
Whether it is answered as #1202

### Expected behavior:

WebSocketException: Unable to connect to the remote server

### Versions

version of PuppeteerSharp 2.0.0

[2019-12-18 09:37] KoalaBear84 commented on #1252
I think I've had the same. And that was also with default page number examples. When it was too narrow, it cut off the page numbers themselves but still did print "Page of" without the page numbers. So it looks like it does not print part that are intersecting with the body.

[2019-12-18 11:08] kblok commented on #1351
How are you setting the proxy?

[2019-12-18 11:16] kblok commented on #1307
Closed due to inactivity. Feel free to reopen it if needed.

[2019-12-18 11:16] #1307 closed

[2019-12-18 12:37] LucasMaciuga opened #1352 "PuppeteerSharp 2.0 WaitForSelector without function"
Hi everybody,

### Description

I use puppeteer-sharp to render html into pdf - for performance reasons I use WaitForSelector - a JavaScript function inside my html adds a css class during rendering, which I looking for.

PuppeteerSharp 1.19 and 1.20 are working without any issue on local and on server (I always used the chromium version which belongs to the PuppeteerSharp version).
With Puppeteer

[2019-12-18 14:47] jgilbert2017 opened #1353 "feature: PageCreated event"
would it be possible to support a PageCreated event so common actions can be easily be done for all created pages?

[2019-12-19 01:50] PccCodesix commented on #1351
at first  set the proxy on the computer Directly but can not lanuching chrome.
Another way set proxy  in code like this also can not lanuching chrome.
but If I unset the proxy can launch the browser
the proxy has no authentication
puppeteer.launch({headless:true, args:['--no-sandbox','--proxy-server=http://ip:port']});

[2019-12-19 12:28] kblok commented on #1351
Maybe your proxy is messing up with Chrome's websocket connections?

[2019-12-19 12:54] LucasMaciuga commented on #1352
I tested PuppeteerShar 1.20 with Chrome Version 79.0.3945.79 (Official Build) (64-Bit).
It does also not work.

[2019-12-19 13:20] LucasMaciuga commented on #1352
So got now PuppeteerSharp 1.17.2 and Chrome Version 76.0.3809.100 (Offizieller Build) (64-Bit) running on the server as expected.

If someone needs the same setup, don't forget to "disable" the "Google Updater": https://stackoverflow.com/questions/18483087/how-to-disable-google-chrome-auto-update/45064002#45064002

[2019-12-19 16:21] madelson opened #1354 "Browser.CloseAsync().Wait() hangs when called on the same thread that the browser was created on"
### Description

`Browser.CloseAsync().Wait()` hangs when called on the same thread that the browser was created on.

### Complete minimal example reproducing the issue

[code]

### Expected behavior:

`browser.CloseAsync().Wait();` should return normally.

### Actual behavior:

`browser.CloseAsync().Wait();` hangs forever. Oddly, this can be fixed by awaiting `Task.Yield()` beforehand.

Some othe

[2019-12-19 16:31] kblok commented on #1354
I'm afraid there is no way to work around that. In fact, that's why [Browser does a fire and forget on Dispose](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp/Browser.cs#L535), because we can't force a wait there.

[2019-12-19 19:30] DavidGKoch opened #1355 "Screenshot Image Is Repeated For Long Pages"
Hi there,

Love this product!! I'm having an issue taking screen shots of very long pages (e.g. over 8200 pixels). The resulting image starts repeating itself prior to reaching the end of the page. Have you seen this issue and, if so, is there a workaround?

I saw a few mentions of it online but no real solutions.

Version 2.0.0
.Net Framework 4.6.1
VS 2017
Windows 8.1

[2019-12-19 19:37] kblok commented on #1355
Hey @DavidGKoch. I've seen a few of those reports, even in Puppeteer.
The thing is that those kinds of issues should be reported upstream on the chromium repo, there is not much we can control from the library.

[2019-12-20 01:23] madelson commented on #1354
@kblok I dug into this a bit more to try to understand what you meant and I figured out what you probably already know.

The root cause of this is the fact that the `GetResponseAsync` "thread" in WebSocketTransport fires `MessageReceived` events synchronously.

In the launch case, there ends up being a synchronous flow all the way from `GetResponseAsync` through to the completion of `LaunchAsync`,

[2019-12-20 02:13] PccCodesix commented on #1351
set proxy I can run the chrome.exe direct successful. looks like no problem with the websocket connections? only can not luanch by  code

[2019-12-20 11:56] madelson commented on #1149
@kblok given that we are using `TaskCompletionSource`, when we initialize the TCS we could just do:

[code]

Then when the message does come back from Chromium, we'd call `tcs.TrySetResult()` and it would noop becuase the task was already in a terminal state.

[2019-12-20 16:09] kblok commented on #1354
The problem there is that there are several messages that we need to process in order, and that might break many things.

On the other hand, feel free to play around. PRs are welcome.

[2019-12-22 15:46] Mercurial commented on #1288
this was helpful to me, thanks! hopefully this becomes better in the future

[2019-12-23 10:50] kblok commented on #1353
Did you try [TargetCreated](https://www.puppeteersharp.com/api/PuppeteerSharp.BrowserContext.html#PuppeteerSharp_BrowserContext_TargetCreated)?

[2019-12-23 10:57] kblok commented on #1352
Did you try opening the browser in headless false on the server and see if everything looks as expected?

[2019-12-30 01:37] newpost opened #1357 "Unhandled exception. PuppeteerSharp.ChromiumProcessException: Failed to launch Chromium!"
**Before you file a bug, have you:**

* Tried upgrading to newest version of PuppeteerSharp, to see if your issue has already been resolved and released?
* Checked existing open *and* closed [issues](https://github.com/kblok/puppeteer-sharp/issues?utf8=%E2%9C%93&q=is%3Aissue), to see if the issue has already been reported?
* Tried reproducing your problem in a new isolated project?
* Considered if

[2019-12-30 05:21] newpost commented on #1357
nothing

[2019-12-30 05:21] #1357 closed

[2019-12-31 11:43] lsheng-mel commented on #1338
turned out that it was the memory on the sandbox the program was deployed to is not big enough. bumped it up to 1GB and it was all good.

[2019-12-31 11:47] kblok commented on #1338
Awesome!

[2020-01-08 01:39] luowenjia1996 opened #1358 "Failed to launch Chromium!"
ERROR 2020-01-08 08:02:26,999 [180  ] pplication.VesselRipper.SpiderAppService - 码头:LONG BEACH,CA-STA,失败原因:Failed to launch Chromium! [42480:32268:0108/080224.220:ERROR:message_window.cc(112)] Failed to create a message-only window: 存储不足，无法处理此命令。 (0x8)
[42480:31416:0108/080224.221:ERROR:google_update_settings.cc(246)] Failed opening key Software\Chromium to set usagestats; result: 5
[42480:39196:0

[2020-01-08 11:17] kblok commented on #1358
That seems to be a problem of Chromium in the OS you are executing it.

[2020-01-09 01:28] luowenjia1996 commented on #1358
Should I use chrome to replace chromium in PuppeteerSharp 2.0 instead of the default vesion？

[2020-01-09 11:04] kblok commented on #1358
It should work with the Chromium downloaded by the app. Did you try opening that chromium manually?

[2020-01-09 20:43] luowenjia1996 commented on #1358
yep,I tried turning that chrome on manually,Maybe I open too many browsers by the app..

[2020-01-12 00:00] whgfu opened #1359 "How to inject HTML code into div？"
var AAA = await firstPage.QuerySelectorAsync("div.w-e-text");

How to inject HTML code into AAA object?

[2020-01-13 10:45] kblok commented on #1359
You can do this:

[code]

[2020-01-13 12:19] whgfu commented on #1359
orry, I didn't find the ExecuteFunctionAsync method, only the EvaluateFunctionAsync method, but this method will fail to execute:
{"Evaluation failed: SyntaxError: Unexpected token ';'"}

[2020-01-13 12:24] kblok commented on #1359
Sorry, how about this?

[code]

[2020-01-13 12:41] whgfu commented on #1359
` try
                        {

                            var content = "11111";
                            await firstPage.QuerySelectorAsync("div.w-e-text").EvaluateFunctionAsync("el => el.textContent = content", content);
                        }
                        catch (Exception ex)
                        {
                            InsertState(ex.ToString());

[2020-01-13 12:42] kblok commented on #1359
Ok, take 3 😂

[code]

[2020-01-13 12:45] whgfu commented on #1359
Thank you very much. This time, it's text or HTML. I want to inject HTML
 😂

[2020-01-13 12:46] whgfu commented on #1359
await firstPage.QuerySelectorAsync("div.w-e-text").EvaluateFunctionAsync("(el, content) => el.innerHTML = content", body);

thank you !!!

[2020-01-13 12:51] #1359 closed

[2020-01-14 02:42] tig opened #1360 "https://www.puppeteersharp.com/ is DOA"
DNS is not resolving to the website.

[2020-01-14 11:43] kblok commented on #1360
Working on it. Thanks for the report!

[2020-01-14 12:35] kblok commented on #1360
Fixed. Pay the bills Dario!

[2020-01-14 12:35] #1360 closed

[2020-01-15 01:08] luowenjia1996 commented on #1358
ERROR 2020-01-15 09:01:59,890 [88   ] pplication.VesselRipper.SpiderAppService - 船东:SITC,失败原因:Timed out after 30000 ms while trying to connect to Chromium!,   at PuppeteerSharp.ChromiumProcess.State.StartingState.StartCoreAsync(ChromiumProcess p)
   at PuppeteerSharp.ChromiumProcess.State.StartingState.StartCoreAsync(ChromiumProcess p)
   at PuppeteerSharp.Launcher.LaunchAsync(LaunchOptions option

[2020-01-17 06:24] caffreysbb opened #1362 "bypass Canvas & webgl fingerprints."
Hi. How i can set fake value for canvas and webgl fingerprints in puppeteer?

[2020-01-20 00:12] Xeevis commented on #1331
I've successfully authenticated with NordVPN with the following code, it works flawlessly, maybe it will help somebody.

[code]
![image](https://user-images.githubusercontent.com/5835044/72690954-b2538900-3b21-11ea-99cd-d92c749f4ceb.png)

[2020-01-20 18:42] Code-DJ opened #1363 "UploadFileAsync fails with browserless.io"
### Description

UploadFileAsync doesn't work with browserless.io - note that I am using hosted version of browserless but the same applies to browserless.io as well.

The upload fails because the method ElementHandle.UploadFileAsync resolves the path using Path.GetFullPath. So when Puppeteer-Sharp is run on Windows, it resolves "/usr/src/app/workspace/filename.ext" to "C:\usr\src\app\workspace\fi

[2020-01-20 18:45] kblok commented on #1363
Interesting, good catch.

[2020-01-20 21:17] Code-DJ commented on #1363
Can I submit a PR? Is it better to let API users resolve paths in their own code or should we handle it using method overloading?

e.g.
[code]

[2020-01-21 13:24] SuperDaveOsbourne commented on #1358
Moving to Puppeteer Sharp 2.0 from 1.2, Windows 10 I get an error in winforms that says. "Unable to find locale data files. Please reinstall. Ver 1.2 acts correctly.

LaunchOptions options = new LaunchOptions
            {
                Headless = false,
                Devtools = false,
                UserDataDir = Path.Combine(".", "C:\\downloads\\data-dir")
            };

This exception was

[2020-01-21 13:34] kblok commented on #1358
That error seems to come from Chrome itself. Could you try re-downloading chromium?

[2020-01-21 14:05] SuperDaveOsbourne commented on #1358
Uninstalled reinstalled. Chromium runs fine from the desktop.

15.0.875.0 (Developer Build 100012 Windows)

[2020-01-22 13:06] romeniquesantos opened #1365 "Improve docfx_project/examples/index.md"
Explain how would you like this document to be impoved

[2020-01-22 13:08] kblok commented on #1365
@romeniquesantos what do you think we should do here?

[2020-01-23 01:38] SuperDaveOsbourne commented on #1358
The solution for me was to reboot the machine and delete everything in the debug directory before running VS. Not sure why, but it looks like Visual Studio was hanging on to some files. 'Clean Solution' sometimes isn't totally clean?  Thanks for all the hard work!

[2020-01-24 11:08] #1363 closed

[2020-01-24 11:11] kblok commented on #1362
I'm not quite sure what you're trying to accomplish, could you elaborate that a little bit more?

[2020-01-24 13:25] FetchBit opened #1367 "browser.NewPageAsync() dies in IIS"
browser.NewPageAsync() dies in IIS.

Windows 10
IIS 10.0.18362.1
Target framework .NET Core 2.2

I have tried with PuppeteerSharp 1.18.0 and up, each with different versions (also latest) of Chromium.

Code to reproducing the issue, PuppeteerSharp 1.18.0 :
[code]

Expected the page to be returned, but nothing happens.

Running it with IIS Express and it works as intended.

[2020-01-24 13:33] kblok commented on #1367
Could you try adding the `--no-sandbox` flag?

[2020-01-24 13:41] FetchBit commented on #1367
With --no-sandbox flag it works as intended. I would prefer not to use this flag though. Any thoughts on the issue? Any other workarounds than using no-sandbox?

[code]

[2020-01-24 13:42] kblok commented on #1367
It's an environment issue. Another workaround would be creating an external service and your site talk with that service with some queue.

[2020-01-24 13:46] FetchBit commented on #1367
Thank you for your help.

Is this something that will be addressed in future versions of Puppeteer-Sharp?

[2020-01-24 14:01] kblok commented on #1367
@FetchBit It's more a limitation from Chromium. If we send a message from chromium and nothing comes back, there is no much we can do on our end...

[2020-01-26 13:08] nicoandmee commented on #1362
Very simply, like so: https://gist.github.com/nicoandmee/743315e66ecba7db970ff4ca4992cf9f

[2020-01-26 13:11] nicoandmee commented on #1362
Note you need to generate a unique browser fingerprint if you want to consistently evade bot detection systems. I recommend using https://www.npmjs.com/package/user-agents for starters.

You might also want a list of all WEBGL_RENDERER values, like: `const WEBGL_RENDERERS = ['ANGLE (NVIDIA Quadro 2000M Direct3D11 vs_5_0 ps_5_0)', 'ANGLE (NVIDIA Quadro K420 Direct3D9Ex vs_3_0 ps_3_0)', 'ANGLE (NVID

[2020-01-30 18:11] radiaku opened #1368 "Websocket Error on win 7"
### Description

cannot connect to PuppeteerSharp.Puppeteer.ConnectAsync(options) cause:

1. ChromiumProcessException: Failed to create connection
2. PlatformNotSupportedException: The WebSocket protocol is not supported on this platform.

I can accesss http://127.0.0.1:8888/json/list on my chrome. but when connect with puppeeter  its failed

### Complete minimal example reproducing the issue

Com

[2020-01-30 18:13] kblok commented on #1368
Hey @radiaku, check out the prerequisites section https://github.com/kblok/puppeteer-sharp#prerequisites

[2020-01-31 22:53] radiaku commented on #1368
@kblok

I found that code with, this [pull/1191](https://github.com/kblok/puppeteer-sharp/pull/1191)

but when I connect with browserendpoint I got this issue **[Puppeteer-web: Protocol error (Target: getBrowserContexts) not allowed](https://stackoverflow.com/questions/57572062/puppeteer-web-protocol-error-target-getbrowsercontexts-not-allowed)**

I solved this using BrowserURL.
So leave my code f

[2020-01-31 22:53] #1368 closed

[2020-02-04 17:22] KardoseR opened #1369 "Frame.GetContentAsync() return content before javascript execution"
Frame.GetContentAsync() return content before javascript execution, i want the complete content after javascript executed(at the time of the method call)

### Complete minimal example reproducing the issue

E.g.

[code]

### Expected behavior:

Should return code after javascript execution.

### Actual behavior:

### Versions

* Which version of PuppeteerSharp are you using?
* Which .NET runtime a

[2020-02-05 19:06] RobertBaldini opened #1370 "Waiting for popup"
### Description

Popup is a page **event**, which runs into problems with the **async** methods.

I'm trying to click a button that opens a popup.

After the popup opens, I'm trying to call `browser.PagesAsync()` to get the new page.

### Complete minimal example reproducing the issue

Sorry I don't have a great example, I'm working on an internal company tool and it's hard to find a hosted page t

[2020-02-05 19:11] kblok commented on #1370
Hey @RobertBaldini!
You will have a "translation" for that recipe [here](https://github.com/kblok/puppeteer-sharp/blob/7fca5eeeaa9e138af09e24bd98d11d128cac260b/lib/PuppeteerSharp.Tests/PageTests/Events/PopupTests.cs#L17).

[2020-02-05 19:35] kblok commented on #1369
@KardoseR You should try to find some hint which tells you that it finished.
Any DOM element you can use with a `WaitForSelectorAsync`? Any javascript code you can evaluate with `WaitForExpressionAsync`?

Once you find that it would be a matter of using the right waitFor and then call GetContentAsync.

Also, remember to use `await` instead of `GetAwaiter().GetResult();`.

[2020-02-05 22:26] KardoseR commented on #1369
I know the content is already loaded because i can inspect it in the chromium window, i call that method way after that happens...

[2020-02-05 22:38] RobertBaldini commented on #1370
Awesome!  Except... now I need to wait for the popup to finish loading. (Otherwise it's just passing back an empty page.)

This is the closest I could think of, but `WaitForNavigationAsync` doesn't work if you've already awaited the `ClickAsync`.

[code]

[2020-02-05 22:45] kblok commented on #1370
`Task.WhenAll` should wait for the click and your `TaskCompletionSource`.
Maybe you could use a `WaitForSelectorAsync` instead of `WaitForNavigationAsync`?

[2020-02-05 22:47] kblok commented on #1369
@KardoseR did you try any of these?

`GetContentAsync` calls `document.documentElement.outerHTML` internally. If you run that on DevTools, do you get what you expect?

[2020-02-05 23:28] RobertBaldini commented on #1370
We're building up our selectors dynamically, so that wasn't an option for me. But I was trying to think of what else I could await, and looks like I found something that works.

I'm sure there's some cases where you wouldn't want to refresh the popup, but I'll cross that bridge when I come to it. :)

Thanks for all of your help! Never would have thought of the TaskCompletionSource; I definitely le

[2020-02-06 00:24] KardoseR commented on #1369
So most of the puppeteer commands can be translated to javascript calls? No I dont get what I want because I am trying to query an iframe, in selenium I would call driver.SwitchTo().Frame(0); and then driver.PageSource to get the desired result.

[2020-02-06 00:38] KardoseR commented on #1369
So In short, i would like to be able to get the same result as I would with selenium

[2020-02-06 01:51] kblok commented on #1369
WaitForSelectorAsync or WaitForExpressionAsync should help you accomplish what you need.

[2020-02-06 12:14] kblok commented on #1370
Closing the issue, feel free to create a new one if you need more help.

[2020-02-06 12:14] #1370 closed

[2020-02-06 16:26] RobertBaldini commented on #1370
Sorry, one last thing...  It tricked me. :)

When I call `PagesAsync`, sometimes the popup is the last page, but sometimes it's the first page.

I tried doing the event handler without the async, but same thing.

Maybe, as a workaround, is there any way to `OrderBy` the pages? To get them in the order they were created?

[code]

[2020-02-06 16:39] kblok commented on #1370
@RobertBaldini the thing is that there is lots of async stuff going on when `PagesAsync` is called. Long story short we are making sure that all the pages (which is a list of Targets filtered by TargetType) are initialized and ready to be interacted with.

Maybe you can filter that array by URL?

[code]

[2020-02-11 14:57] njlr opened #1371 "Strange behaviour when using --user-agent command-line option"
**Before you file a bug, have you:**

* Tried upgrading to newest version of PuppeteerSharp, to see if your issue has already been resolved and released? ✔️
* Checked existing open *and* closed [issues](https://github.com/kblok/puppeteer-sharp/issues?utf8=%E2%9C%93&q=is%3Aissue), to see if the issue has already been reported? ✔️
* Tried reproducing your problem in a new isolated project? ✔️
* Cons

[2020-02-11 15:10] kblok commented on #1371
Did you tried using SetUserAgentAsync?

[2020-02-11 15:11] njlr commented on #1371
Yes that works, however the command-line argument should also work.

[2020-02-11 15:12] kblok commented on #1371
So this would be more a bug upstream (in chromium) there is no much we can do downstream (in our .NET core)

[2020-02-13 12:04] pete-reay-waters opened #1372 "Navigating to site with certificate expiring after 2038 produces an exception"
### Description

Connecting to a site with a certificate with an expiry date after 2038 produces an exception.

### Complete minimal example reproducing the issue

[code]

### Expected behavior:

The page loads and no exception is thrown.

### Actual behavior:

An exception is thrown.

[code]

### Versions

PuppeteerSharp 2.0.0
.NET Core 3.1.100

### Additional Information

The problem is the type

[2020-02-13 12:06] kblok commented on #1372
Thanks for the detailed report @pete-reay-waters !

[2020-02-13 12:10] pete-reay-waters commented on #1372
Would you like me to raise a pull request or is the issue clear enough?

[2020-02-13 12:11] kblok commented on #1372
@pete-reay-waters absolutely! go for it!

[2020-02-16 12:24] #1372 closed

[2020-02-21 07:00] c0dbl4 opened #1375 "EvaluateFunctionOnNewDocumentAsync \ EvaluateExpressionOnNewDocumentAsync"
Hi. I trying script on page, but not worked. If evaluate script in browser console it's okey.
[code]
Why?(

[2020-02-21 07:10] Meir017 commented on #1375
Are you getting an error?
What happens when you run your program?
What is supposed to happen?

[2020-02-21 07:11] c0dbl4 commented on #1375
nothing happens, no errors

[2020-02-21 07:12] c0dbl4 commented on #1375
should change AudioContext on https://audiofingerprint.openwpm.com/

[2020-02-21 08:15] #1375 closed

[2020-02-22 13:51] oguz3 opened #1376 "How can I work on popup?"
When I click to button, page of pop-up is opening. I have to click button on it. How can I do it?

`await page.GoToAsync("https://.....");`
`await page.WaitForTimeoutAsync(7000 * 2);`
`await page.WaitForSelectorAsync("a[class='visit_button']");`
`await page.ClickAsync("a[class='visit_button']"); //open popup`
`await page.WaitForTimeoutAsync(3000);`
`// I click to button on pop-up`

[2020-02-22 21:41] kblok commented on #1376
To keep the repo organized let's leave Github issues for Feature Requests, bugs and issues.
I kindly ask you to create a question on Stack Overflow. I follow the tag [puppeteer-sharp](https://stackoverflow.com/questions/tagged/puppeteer-sharp). This will help us get more eyes on those questions and leave answers easily available to the community.
Feel free to paste the Stack Overflow link here.

[2020-02-22 21:41] #1376 closed

[2020-02-22 21:41] #1371 closed

[2020-02-22 21:41] #1369 closed

[2020-02-22 21:41] #1365 closed

[2020-02-22 21:43] #1358 closed

[2020-02-22 21:43] #1353 closed

[2020-02-26 04:09] nitinag opened #1377 "UnobservedTaskException"
### Description

We monitor UnobservedTaskException to catch bugs/issues and found that Puppeteer Sharp is causing two such exceptions to be thrown rather than handling them. The timeout exception is surprising since the request completes successfully in much less time and doesn't seem to timeout at all. The two exceptions appear together for one request when the sample code included below is exec

[2020-02-27 12:52] avifatal opened #1378 "PuppeteerSharp.BufferException: 'Unable to get response body'"
Hi,
 I am getting the error: `PuppeteerSharp.BufferException: 'Unable to get response body'` in the following line `var txt = await e.Response.TextAsync()`
What may cause that?
[code]

It is happening randomly... I can't put my finger on it...
Thanks

[2020-02-27 13:00] kblok commented on #1377
Hey @nitinag
I tried hard on #891 trying to get to a solution here. I could invest some time on it, maybe I learned something in the past year :p
The issue is how to implement timeouts without leaving orphan tasks.

I'm also open to new ideas and pull requests.

[2020-02-27 15:23] nitinag commented on #1377
Hi @kblok,

This is what we use based originally on https://devblogs.microsoft.com/pfxteam/crafting-a-task-timeoutafter-method/ with customizations:

[code]
I also noticed ConfigureAwait was missing on all awaits in https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp/Helpers/TaskHelper.cs.

[2020-02-27 15:27] kblok commented on #1377
This is awesome. I will give it a try.

Yeah, I noticed that while migrating code to [Playwright-Sharp](https://github.com/kblok/playwright-sharp). I'll add some code analyzers here.

Thank you!

[2020-02-27 15:48] nitinag commented on #1377
Great! The only thing I couldn't understand was why it was generating a timeout exception in the first place because everything seemed to respond well before the timeout that we set. It seemed like there was something else going on since the timeout shouldn't have been triggered at all. It didn't seem like anything in your existing WithTimeout method should cause an orphan timeout exception unless

[2020-02-27 15:54] kblok commented on #1377
@nitinag agreed. [This](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp/Helpers/TaskHelper.cs#L142) should return false most of the cases. Maybe were are using `WithTimeout` where we shouldn't?

Let me get back to that issue I see what I find.

[2020-02-29 14:19] #1377 closed

[2020-02-29 14:21] kblok commented on #1377
@nitinag long story short: We were not canceling the [TerminationOrTimeout task](https://github.com/kblok/puppeteer-sharp/pull/1380/files#diff-55e5301bb3d8344d796d9f3fa50376a5R76) and that was eventually triggering the timeout.

Would you mind building the project locally and test it out? If you get good results I'll ship v2.0.2

[2020-02-29 14:43] kblok opened #1382 "Enable SA1624 rule"
Change the action for SA1624 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1383 "Enable SA1028 rule"
Change the action for SA1028 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1384 "Enable SA1600 rule"
Change the action for SA1600 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1385 "Enable SA1516 rule"
Change the action for SA1516 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1386 "Enable SA1629 rule"
Change the action for SA1629 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1387 "Enable SA1514 rule"
Change the action for SA1514 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1388 "Enable SA1201 rule"
Change the action for SA1201 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1389 "Enable SA1202 rule"
Change the action for SA1202 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1390 "Enable SA1210 rule"
Change the action for SA1210 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1391 "Enable SA1208 rule"
Change the action for SA1208 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1392 "Enable SA1204 rule"
Change the action for SA1204 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1393 "Enable SA1004 rule"
Change the action for SA1004 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1394 "Enable SA1513 rule"
Change the action for SA1513 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1395 "Enable SA1124 rule"
Change the action for SA1124 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1396 "Enable SA1009 rule"
Change the action for SA1009 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1397 "Enable SA1413 rule"
Change the action for SA1413 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1398 "Enable SA1602 rule"
Change the action for SA1602 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1399 "Enable SA1005 rule"
Change the action for SA1005 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1400 "Enable SA1203 rule"
Change the action for SA1203 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1401 "Enable SA1720 rule"
Change the action for SA1720 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1402 "Enable SA1300 rule"
Change the action for SA1300 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1403 "Enable SA1500 rule"
Change the action for SA1500 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1404 "Enable SA1214 rule"
Change the action for SA1214 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1405 "Enable SA1642 rule"
Change the action for SA1642 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1406 "Enable SA1013 rule"
Change the action for SA1013 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1407 "Enable SA1515 rule"
Change the action for SA1515 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1408 "Enable SA1012 rule"
Change the action for SA1012 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1409 "Enable SA1512 rule"
Change the action for SA1512 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1410 "Enable SA1648 rule"
Change the action for SA1648 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1411 "Enable SA1616 rule"
Change the action for SA1616 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1412 "Enable SA1643 rule"
Change the action for SA1643 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1413 "Enable SA1614 rule"
Change the action for SA1614 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1414 "Enable SA1627 rule"
Change the action for SA1627 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1415 "Enable SA1622 rule"
Change the action for SA1622 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1416 "Enable SA1116 rule"
Change the action for SA1116 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1417 "Enable SA1111 rule"
Change the action for SA1111 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1418 "Enable SA1505 rule"
Change the action for SA1505 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1419 "Enable SA1612 rule"
Change the action for SA1612 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1420 "Enable SA1620 rule"
Change the action for SA1620 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1421 "Enable SA1118 rule"
Change the action for SA1118 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1422 "Enable CA1063 rule"
Change the action for CA1063 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1423 "Enable CA1001 rule"
Change the action for CA1001 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1424 "Enable CA1721 rule"
Change the action for CA1721 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1425 "Enable CA1032 rule"
Change the action for CA1032 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1426 "Enable CA2220 rule"
Change the action for CA2220 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1427 "Enable CA1064 rule"
Change the action for CA1064 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1428 "Enable CA2229 rule"
Change the action for CA2229 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1429 "Enable CA2237 rule"
Change the action for CA2237 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1430 "Enable CA1720 rule"
Change the action for CA1720 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1431 "Enable CA2008 rule"
Change the action for CA2008 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1432 "Enable CA1062 rule"
Change the action for CA1062 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1433 "Enable CA1062 rule"
Change the action for CA1062 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1434 "Enable CA1305 rule"
Change the action for CA1305 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1435 "Enable CA1031 rule"
Change the action for CA1031 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1436 "Enable CA1806 rule"
Change the action for CA1806 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1437 "Enable CA1816 rule"
Change the action for CA1816 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1438 "Enable CA1304 rule"
Change the action for CA1304 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1439 "Enable CA2200 rule"
Change the action for CA2200 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1440 "Enable CA1724 rule"
Change the action for CA1724 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1441 "Enable CA2213 rule"
Change the action for CA2213 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-02-29 14:43] kblok opened #1442 "Enable CA2000 rule"
Change the action for CA2000 on the [ruleset file](https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp.ruleset) to Error, and make the solution build

[2020-03-01 16:27] nitinag commented on #1377
@kblok Tested it and looks good. No more UnobservedTaskExceptions are being raised from our sample code.

[2020-03-02 14:42] kblok commented on #1377
@nitinag v2.0.2 shipped!

[2020-03-03 12:40] dergroncki opened #1444 "Cannot open file PuppeteerSharp.ruleset in Visual Studio"
Because CA1062 is used 2 times it is not possible to open the ruleset file.

![Screenshot 2020-03-03 at 13 32 55](https://user-images.githubusercontent.com/2815398/75776254-f1e1d780-5d53-11ea-8bb7-b4c8d0d65126.jpg)

[code]

[2020-03-03 12:59] kblok commented on #1444
Ops. Feel free to create a PR @dergroncki or I can create one this evening.

[2020-03-04 16:32] volleio opened #1445 "Wrong chromium version in v2.0.0 release notes (r706915 not r705776)"
### Description

Same issue as in puppeteer's repo - https://github.com/puppeteer/puppeteer/issues/5136.
[This commit's message](https://github.com/kblok/puppeteer-sharp/commit/74488cf1760b2d4895a4855e9be87cb50ec3c9d8#diff-8bcf5eae342f451c5cb92f4bad0e23e1) and the [v2.0.0 release notes](https://github.com/kblok/puppeteer-sharp/releases/tag/v2.0) say that the chromium revision was updated to r70577

[2020-03-04 16:36] kblok commented on #1445
Awesome, Thank you @volleio!

[2020-03-05 11:05] kblok commented on #1445
Release note changed

[2020-03-05 11:05] #1445 closed

[2020-03-05 12:15] #1444 closed

[2020-03-09 14:46] kblok commented on #1378
@avifatal can you take a look at the InnerException?

[2020-03-09 18:01] mr-wong opened #1447 "Random NavigationException exceptions on page.GoToAsync()"
The code is fairly simple:

        private void button1_Click(object sender,EventArgs e) {
            PuppeteerSharp.LaunchOptions opts = new PuppeteerSharp.LaunchOptions() {
                Headless=false,
                ExecutablePath=@"C:\Users\user\AppData\Local\Chromium\Application\chrome.exe",
                DefaultViewport=null,
                UserDataDir=@"d:\32323"
            };

[2020-03-13 16:08] avifatal commented on #1378
[code]

[2020-03-15 08:07] whgfu opened #1448 "QuerySelectorAllAsync div a"
jquery: on webpage
[code]
We can get the result：
[code]
If I use puppetersharp：
[code]

Cannot get this a object.

help me，thank you

[2020-03-15 08:17] Meir017 commented on #1448
@whgfu  what happens? does the method return an empty array?

[2020-03-15 08:25] whgfu commented on #1448
Array，result：
Node is either not visible or not an HTMLElement

Sorry, I didn't make it clear. It's an invisible element. How to operate it? I get a object. I want to execute the click error.

[2020-03-15 08:41] Meir017 commented on #1448
are you trying to hover/click/tap? if so then it's by design and you should make the element visible first

[2020-03-15 08:43] whgfu commented on #1448
Yes, I haven't found out how to make the elements visible. I can implement it with jQuery, but I haven't succeeded in using puppetersharp

[2020-03-15 08:44] whgfu commented on #1448
$("div.show-auto-save").css("display","")

[2020-03-15 08:47] Meir017 commented on #1448
well, you can execute that using puppeteersharp.
puppeteer will try to scroll the elemen into view but it won't try to make it visible

[2020-03-15 09:13] whgfu commented on #1448
Yes, I have. This is my code
` var js = "$(\"div.show-auto-save\").css(\"display\", \"\")";
                    await firstPage.EvaluateFunctionAsync($"() => {js}");
                    var input4 = await firstPage.QuerySelectorAllAsync("div.show-auto-save a");
                    await input4[0].ClickAsync();`

[2020-03-15 09:14] #1448 closed

[2020-03-16 04:02] ngiakhanh opened #1449 "How long does it take in general for you to upgrade to the newest Puppeteer (2.1.1)?"
Hi @kblok , I just investigating the possibility to use puppeteer-sharp in my project to replace selenium. I just want to ask in general, how long does it take you to catch up with the newest version of Puppeteer ?

[2020-03-16 11:12] kblok commented on #1449
Hey @ngiakhanh my focus is on https://github.com/kblok/playwright-sharp right now.

I would eventually work on 2.1.1 but I don't think it would be in the first half of 2020 (unless it gets sponsored).

[2020-03-16 11:14] kblok commented on #1447
Aren't you awaiting the tasks returned by `Navigate`?

[2020-03-16 11:20] kblok commented on #1378
It seems to be a Chromium side effect. See https://github.com/puppeteer/puppeteer/issues/2258 and https://medium.com/@jsoverson/using-chrome-devtools-protocol-with-puppeteer-737a1300bac0

[2020-03-16 13:14] mr-wong commented on #1447
Yes I wait using page.GoToAsync(...).GetAwaiter().GetResult(); so all the pages navigated one by one. It can happen at the very first GoToAsync call or after hundred calls. I tried both the latest Chromium version and the version offered by the downloader with the same result. Also tried to downgrade Puppeteer with no luck.

[2020-03-18 22:30] ben-biddington commented on #1447
Failing example there in #1450, but I can't progress further than that.

Reduced the iteration size a bit to speed it up

[2020-03-19 07:45] heppth opened #1451 "NewPageAsync() hangs on Ubuntu Server 18 (x64)"
### Description

The method call NewPageAsync() hangs on Ubuntu Server 18.04.1 LTS. On Windows it is working very well. I used the PuppeteerSharpPdfDemo for easier reproducing.

The console shows
[code]
and then it hangs.

In lsof I can see that the chrome process is running:
[code]

### Complete minimal example reproducing the issue

1. Simply use the [PDF demo](https://github.com/kblok/puppeteer

[2020-03-19 13:32] kblok commented on #1451
reproduced.

[2020-03-20 20:38] mcopur opened #1453 "finding an element in an iframe"
I tried to find a div ("div.vjs-poster") in https://www.npostart.nl/oogappels/05-03-2020/BV_101396179
First I tried the standard await page.QuerySelectorAsync("div.vjs-poster") but I got null and then I realized that it is in a frame I tried to get that element by using that code block:

[code]
but executing **await elementHandle.ContentFrameAsync();**  throws an exception as "**Frame B8F771E2CB61

[2020-03-23 06:54] Waha-Liu88 opened #1454 "About Auto Login by default account and pwd in chrome setting."
how to closed the "Auto Login" Button in the chrome setting.By default, the chrome is open when strart up?.So, puppeteer how to closed it using the code.

[2020-03-23 12:06] kblok commented on #1454
@Waha-Liu88 I don't get the question, could you clarify a little bit more?

[2020-03-24 02:24] Waha-Liu88 commented on #1454
@kblok chrome setting->"auto fill" the first section "password"->the second section "auto login" the button is open by default.So, I want to close it when I launch the browser.Because it is opened by default.

[2020-03-25 09:28] #1378 closed

[2020-03-25 13:56] danielgindi opened #1455 "Windows binaries compiled with "is_multi_dll_chrome", no support for "--single-process""
### Description

`"--single-process is not supported in chrome multiple dll browser"`

Chromium won't start with `--single-process` flag, due to it being disallowed when compiled with [`is_multi_dll_chrome`](https://chromium.googlesource.com/chromium/src.git/+/master/docs/windows_split_dll.md) flag.

Is there a reason for the binaries compiled in this manner?

Thanks

[2020-03-25 14:16] kblok commented on #1455
We are using the same repository Puppeteer uses. You could try downloading a browser with that build and use `ExecutablePath`

[2020-03-25 19:34] madelson opened #1456 "Consider adding IAsyncDisposable support for Browser and Page"
Thanks for building and maintaining this library!

Today, `Browser` and `Page` have `CloseAsync()` + `Dispose()`.

Now that we have `IAsyncDisposable` and `await using` syntax, it would be nice for these types to also implement that interface and expose a `DisposeAsync()` method which just calls `CloseAsync()`.

This could be done while still targeting netstandard2.0 using https://www.nuget.org/pa

[2020-03-25 19:59] kblok commented on #1456
Go for it @madelson !

[2020-04-01 14:38] madelson commented on #1456
Great. I have some time set aside for this next week.

[2020-04-03 06:25] #1454 closed

[2020-04-06 07:58] c0dbl4 opened #1457 "How can open link (new page) in new window?"
Without create new Browser?

[2020-04-06 08:44] Meir017 commented on #1457
the other option is to connect to an existing browser

[2020-04-06 08:45] Meir017 commented on #1457
is this something you can do in the nodejs puppeteer?

[2020-04-07 20:37] madelson commented on #1456
@kblok I've started working on this and I have a few thoughts/questions I thought would be worth running by you.

For `Browser`, we can implement `DisposeAsync` as `=> new ValueTask(CloseAsync())`. Because `Browser.CloseAsync()` caches the returned task, we can conveniently test this by simply asserting that `CloseAsync()` and `DisposeAsync().AsTask()` are the same reference. Does that seem like a

[2020-04-07 21:38] kblok commented on #1456
I wouldn't do much. I think that `DisposeAsync() => CloseAsync();` should be enough. [This test](https://github.com/hardkoded/puppeteer-sharp/blob/7fca5eeeaa9e138af09e24bd98d11d128cac260b/lib/PuppeteerSharp.Tests/PuppeteerTests/PuppeteerLaunchTests.cs#L188) checks that we are closing browsers.
And the CI will end up blowing up if we have process leaks :p
We also write on the console when we open a

[2020-04-08 20:07] madelson commented on #1456
Thanks again for the quick response @kblok. Following your suggestion I went for a minimalist changeset (see linked PR).

[2020-04-10 11:13] ThaDaVos commented on #1451
Any fix? Running into the same on my local Ubuntu instance (inside WSL 2)

[2020-04-10 11:14] kblok commented on #1451
@ThaDaVos I'll take a look during the weekend.

[2020-04-10 11:15] ThaDaVos commented on #1451
That would be great! Thank you!

Was already looking at your Playwright port - maybe that's a better option?

[2020-04-10 11:16] kblok commented on #1451
@ThaDaVos it depends on your deadlines. It will take us a few months to get to a version we can ship.

[2020-04-10 11:17] ThaDaVos commented on #1451
For playwright or for the fix in the puppeteer-sharp?

[2020-04-10 11:18] kblok commented on #1451
hahaha for Playwright :)

[2020-04-10 11:18] #1456 closed

[2020-04-10 11:19] ThaDaVos commented on #1451
Is it usable yet? I would love to try it, I only need screenshot capability as I'm going to try to create a video stream from the headless browser

[2020-04-10 11:20] kblok commented on #1451
@ThaDaVos I would start with puppeteer. The migration process from Puppeteer to Playwright won't be that hard.

[2020-04-10 11:23] ThaDaVos commented on #1451
So,
1. Wait for the fix in puppeteer-sharp
2. Use the nodejs versions as current environment to test and later migrate to C# version
3. Mess around in the Playwright port

[2020-04-10 11:25] kblok commented on #1451
If you want to mess around with Playwright. I could give priority to the screenshots feature so you can play with it, but downloading the source code, I won't ship to nugget yet.

[2020-04-10 11:27] ThaDaVos commented on #1451
That would be amazing as Playwright looks like the future to me!

Can you give an estimation on the ETA?
I'll just use the NodeJs version in the meantime

[2020-04-10 11:28] kblok commented on #1451
We can push screenshots early next week.

[2020-04-10 11:28] ThaDaVos commented on #1451
That would be great! I would love to help with testing the features!

[2020-04-10 11:47] ThaDaVos commented on #1451
I think I found out the issue...

Check your env's value of: `printenv | grep DISPLAY`
Is it accessible?

[2020-04-10 11:47] ThaDaVos commented on #1451
Starting my x-server (runs inside windows) solved the issue for me, it's screenshotting now

[2020-04-10 11:49] ThaDaVos commented on #1451
So @heppth is there an x-server available on your Ubuntu Server and is the ENV set correctly?

[2020-04-10 11:50] kblok commented on #1451
Thank you for your time @ThaDaVos. I'm honestly not proficient in Linux.

[2020-04-10 12:07] ThaDaVos commented on #1451
I noticed it because my NodeJS playwright kept hanging too 😂

[2020-04-10 12:31] heppth commented on #1451
No there isn't a x-server available. I didn't know that this is required.

[2020-04-10 13:04] kblok commented on #1451
@ThaDaVos feel free to add that in the prerequisites section on the readme ;)

[2020-04-10 17:26] ThaDaVos commented on #1451
An x-server is needed to start the browser - or else the browser will hang

[2020-04-10 17:27] ThaDaVos commented on #1451
Or something that at least can accept the draw calls :joy:

[2020-04-10 17:28] ThaDaVos commented on #1451
I'll try @kblok

[2020-04-10 17:29] ThaDaVos commented on #1451
Like this: https://github.com/hardkoded/puppeteer-sharp/pull/1459

[2020-04-11 06:14] RambIing commented on #1352
Running into same issue here, sorry for the late reply. It goes to 30k timeout even though the selector is there. No Google Updater is present.

[2020-04-16 00:49] kblok commented on #1456
V2.0.3 shipped @madelson !

[2020-04-16 12:21] johnnyjob opened #1461 "Puppeteer assembly doesn't have a strong name"
### Description
An attempt to use PuppeteerSharp.dll from a DLL which has a strong name causes the following error:
System.IO.FileLoadException: Could not load file or assembly 'PuppeteerSharp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)
File name: 'PuppeteerSharp, Version=1.0.0.0, Cu

[2020-04-16 14:38] johnnyjob commented on #1461
I can fix that if it's OK to keep the SNK file in the repository. It seems that falls into Microsoft recommendations: https://docs.microsoft.com/en-us/dotnet/standard/assembly/strong-named

If it's not OK, only a person with appropriate rights in this GitHub project will be able to accomplish that task.

[2020-04-16 14:47] kblok commented on #1461
@johnnyjob I could take a look at that.
My concern is not breaking existing users and, as you said, being able to build the assembly in our CI.

[2020-04-16 14:50] kblok commented on #1461
@johnnyjob I would accept a PR for that.

[2020-04-17 12:55] madelson commented on #1461
My understanding is that if we do add a strong name it will be considered a binary breaking change by .NET. So any library that built against 2.0 won't be compatible with the strong-named assembly.

It would be nice not to break with SemVer, so I'd suggest either going to 3.0 when we do this OR releasing a side-by-side PuppeteerSharp.StrongName package built from the same code that people who care

[2020-04-17 12:58] madelson commented on #1354
Thinking about this a bit more, I think this might be related to the slightly-inconsistent behavior around Close/Dispose mentioned in https://github.com/hardkoded/puppeteer-sharp/issues/1456#issuecomment-610607909. I think that if all the public  async operations consistently return a TCS that forces async continuation then we won't be able to get into the state where the continuation thread is al

[2020-04-17 13:48] kblok commented on #1354
Good point @madelson

[2020-04-17 14:46] kblok commented on #1461
I wouldn't bump the version. Matching Puppupeteer version is rule number 1 (or 2).
We could ship a StrongName assembly for these scenarios.

[2020-04-18 03:38] phan89 commented on #1330
@albertkurland @kblok

Albert, could you check to see if you named your project PuppeteerSharp, which caused the namespace confusion?

I'm pretty certain it is the case and not because there's a bug in this project

Thanks

[2020-04-18 07:48] mertmtn opened #1462 "When Converted Html to Pdf document, linked css not rendered."
I want to create a report which has data from web services, charts, tables, pictures. While converting html to pdf, scripts works but css not rendered.

We have an application works .net framework and MVC pattern.

Css Path are located below.

`<link href="~/Rapor/SablonCss/FONRAPOR" rel="stylesheet" />
`This comes from databese because styles inserted on db. Rapor is a controller name, SablonCss

[2020-04-18 18:54] #1447 closed

[2020-04-19 13:32] mertmtn commented on #1462
Also I added css and html code. I did not found any solution.

[sabloncss.txt](https://github.com/hardkoded/puppeteer-sharp/files/4499129/sabloncss.txt)
[sablonhtml.txt](https://github.com/hardkoded/puppeteer-sharp/files/4499130/sablonhtml.txt)

[2020-04-20 11:05] kblok commented on #1462
If you browse the site with a browser, do you see the expected result?
How does the site look like when you see the browser in headless false open up?

[2020-04-20 11:05] kblok commented on #1461
What are your thoughts here @Meir017 ?

[2020-04-20 11:06] kblok commented on #1457
To keep the repo organized let's leave Github issues for Feature Requests, bugs and issues.
I kindly ask you to create a question on Stack Overflow. I follow the tag [puppeteer-sharp](https://stackoverflow.com/questions/tagged/puppeteer-sharp). This will help us get more eyes on those questions and leave answers easily available to the community.
Feel free to paste the Stack Overflow link here.

[2020-04-20 11:06] #1457 closed

[2020-04-20 11:06] kblok commented on #1455
Closed due to inactivity. Feel free to reopen it if needed.

[2020-04-20 11:06] #1455 closed

[2020-04-20 11:07] #1451 closed

[2020-04-20 12:28] mertmtn commented on #1462
My expected result is below image which comes from a link. By the way, we have a cookie method to login our application.

![image](https://user-images.githubusercontent.com/37337606/79751533-6b8d4f00-831b-11ea-96ca-208c13a84fd6.png)

[2020-04-20 12:42] kblok commented on #1462
It looks like a media print issue. Did you try generating a PDF from the same URL?

[2020-04-20 13:03] mertmtn commented on #1462
I generated pdf from the url but result was below pdf
[22952_HKV_17042020_sirketbulteni (2).pdf](https://github.com/hardkoded/puppeteer-sharp/files/4503628/22952_HKV_17042020_sirketbulteni.2.pdf)

excepted pdf should be this one which created our automation's interface. Converted pdf is generated by our web service

[Onizleme.6 (2).pdf](https://github.com/hardkoded/puppeteer-sharp/files/4503631/On

[2020-04-20 13:06] kblok commented on #1462
Export to PDF en Puppeteer works as a print. It does the same as `File => Print => Save as PDF`.

So [CSS @media print](https://developer.mozilla.org/en-US/docs/Web/CSS/@media) is used. You would need to edit the CSS so it "prints" the page in the way you expect.

[2020-04-20 13:08] Meir017 commented on #1461
I'm ok with making puppeteer-sharp use strong naming. as long as we check-in the strong-name key file

[2020-04-21 09:26] mertmtn commented on #1462
@media print did not worked for me, because pdf page size changed also css layout change.
I add all css code between @media print{ }

[2020-04-21 11:01] kblok commented on #1462
@mertmtn could you try setting `PrintBackground` to true?

[2020-04-21 14:22] mertmtn commented on #1462
I tried to set **PrintBackground** to true as a pdf options and works it. Thanks for your help...

[2020-04-21 14:22] #1462 closed

[2020-04-28 21:32] undefinedfunction opened #1464 "IDE0008 in VS 2019, csharp_style_var_for_built_in_types?"
**Before you file a bug, have you:**

* Tried upgrading to newest version of PuppeteerSharp, to see if your issue has already been resolved and released?
* Checked existing open *and* closed [issues](https://github.com/kblok/puppeteer-sharp/issues?utf8=%E2%9C%93&q=is%3Aissue), to see if the issue has already been reported?
* Tried reproducing your problem in a new isolated project?
* Considered if

[2020-04-28 21:39] kblok commented on #1464
As you can see, you jumped into a mini-project about improving this project code quality.
Doing all that at once was going to be a huge impact.
.editorconfig has an interesting behavior on VS, it would only enforce those rules on the files you are editing.
Editor config rules are not hard to fix, so I could buy if new PRs come some changes in code to make editorconfig happy.

[2020-04-28 21:52] undefinedfunction commented on #1464
Ok, I didn’t see any mention of IDE0008 being expected but if you are saying editorconfig is valid, then it makes sense to me. The use of `var` should be corrected as editorconfig defines.

As It was unexpected to me I didn’t want to create more problems if there was some issue in editorconfig so just looking for clarity.

[2020-04-29 10:45] #1464 closed

[2020-04-29 12:09] MilnerAlex opened #1465 "Different results in Chrome's F12 and CDP"
The page https://www.bbc.co.uk/iplayer/live/bbcone
I can query element “div.p_playerControls”  in Chrome's F12 console:

document.querySelector('div.p_playerControls')
div class=​"p_playerControls" style=​"display:​ block;​ clip:​ rect(1px, 1px, 1px, 1px)​;​"

...but cannot via remote interface (div is null, please see attached image):

var div = await page.QuerySelectorAsync("div.p_playerControls

[2020-04-29 12:11] kblok commented on #1465
Did you try adding a `WaitForSelectorAsync` before that?

[2020-04-29 12:18] MilnerAlex commented on #1465
Just tried it, just freeze on wait. The page persistent opened in Chrome! I can switch to Chrome and document.querySelector return element OK...

await page.WaitForSelectorAsync("div.p_playerControls");
var div = await page.QuerySelectorAsync("div.p_playerControls");

[2020-04-29 12:21] kblok commented on #1465
I'm getting a login wall on that page.

![image](https://user-images.githubusercontent.com/2198466/80595158-aa499600-89fa-11ea-8852-e3cc6752c2ce.png)

[2020-04-29 12:29] MilnerAlex commented on #1465
Just signup, it's free :) Then you will need select "I have license for watch TV". You will not able see TV if you not in UK, but you will able see "div_p_payerControls" in F12.
If you will have some ideas, what's going wrong, it will very valuable for me :) Thanks!

[2020-04-29 12:31] kblok commented on #1465
Are you signing up and selecting "I have license for watch TV" using Puppeteer sharp?

[2020-04-29 12:34] MilnerAlex commented on #1465
No of course, I'm signup in browser. Browser then store login in cookies, and I can re-run Chrome in dev mode.

[2020-04-29 12:35] kblok commented on #1465
@MilnerAlex are you launching puppeteer passing the `ExecutablePath` option targeting to the browser you used to log in?

[2020-04-29 12:41] MilnerAlex commented on #1465
No, I'm use connecting to running instance (for keep page unchanged):
                var coptions = new ConnectOptions
                {
                    AppMode = true,
                    BrowserURL = "http://localhost:9222"
                };
                var browser = await Puppeteer.ConnectAsync(coptions);

[2020-04-29 12:47] kblok commented on #1465
Can't test that

![image](https://user-images.githubusercontent.com/2198466/80597553-635d9f80-89fe-11ea-9121-6222d70a8878.png)

[2020-04-29 12:51] MilnerAlex commented on #1465
Hi Dario,

 Yes, as I mentioned, you will not able see TV :) But you WILL be able retrieve div as below:

![image](https://user-images.githubusercontent.com/64533605/80597924-9ec98f80-8a39-11ea-8c2b-13ae969ea5bc.png)

Thanks!

Alex.

[2020-04-29 13:06] MilnerAlex commented on #1465
I'm just got a point in another thread that it can be related to frame, please see here:

https://github.com/cyrus-and/chrome-remote-interface/issues/415

I will investigate it now, but maybe you already know), how to get access to this frame?..  Thanks! :)

[2020-04-29 13:09] kblok commented on #1465
That DIV is inside an `iframe`.  You would need to get the frame first and then query inside the frame.

![image](https://user-images.githubusercontent.com/2198466/80599556-8047a200-8a01-11ea-87cc-b489902fc9f3.png)

[2020-04-29 13:11] MilnerAlex commented on #1465
Thanks Dario, I will start digging in this way :) Can you please do not close this issue for a while, I'll close tomorrow myself - thanks!

[2020-04-29 13:12] kblok commented on #1465
You could infer the frame based on the URL :)

[code]

[2020-04-29 13:13] MilnerAlex commented on #1465
I'll try it tomorrow! Thanks a lot again! :)

[2020-04-29 22:43] andrew2558 opened #1466 "Use GetPropertyAsync () and JsonValueAsync () will always be stuck"
Use GetPropertyAsync () and JsonValueAsync () will always be stuck, if debugging will say: function evaluation needs to run all threads.

[2020-04-30 12:24] MilnerAlex commented on #1465
The problem is solved (get frames and query on each). Thanks a lot Dario! :)

[2020-04-30 12:24] #1465 closed

[2020-05-02 13:16] kblok commented on #1466
what do you mean with stuck?

[2020-05-03 03:31] andrew2558 commented on #1466
The program didn't respond

[2020-05-03 17:54] Cuiqs76 commented on #1453
Is the problem solved? I also came across a button in iframe @mcopur

[2020-05-04 23:39] Telavian opened #1467 "Unable to get application working if it is .Net Core 3.X"
### Description

I am receiving this error when trying to use Puppeteer-Sharp in .Net Core 3.X.

`The server returned status code '403' when status code '101' was expected.`

It seems however if the application is .Net core 2.X then it works correctly.
The error appears to be when trying to create a websocket connection to the browser.
I am honestly not sure how websockets act different between .N

[2020-05-05 11:12] kblok commented on #1467
It's working here @Telavian

![image](https://user-images.githubusercontent.com/2198466/81060018-0489a180-8ea8-11ea-819f-1b04564647ad.png)

![image](https://user-images.githubusercontent.com/2198466/81060076-1d925280-8ea8-11ea-9865-ada885d4d483.png)

[2020-05-05 20:30] Telavian commented on #1467
I believe the default proxy settings changed between .Net Core versions.
If I set the default proxy on the WebSocket to null then it seems to work.

Strange that simple things can require so much work to finally figure out.

[2020-05-05 20:30] #1467 closed

[2020-05-05 23:44] jzabroski commented on #1467
Just be thankful you aren't debugging an AngularJS application with 6000 node_modules on the backend.  (If you want this alternative, I can hook you up with people who work at Capital One...)

[2020-05-06 15:49] Ibrahim-Islam opened #1468 "Unable to get selector in TeamCity"
### Description

The following code works fine locally but on TeamCity it fails to locate the `Username` input. The site trying to load is limited to company's intranet only. Everything works fine locally but fails on TeamCity. Is there any diagnostics command I can run to check what might be the issue?

### Complete minimal example reproducing the issue

[code]

### Expected behavior:

Should be

[2020-05-06 15:53] kblok commented on #1468
What's the error?

[2020-05-06 15:56] Ibrahim-Islam commented on #1468
[code]

[2020-05-06 15:58] kblok commented on #1468
Would you be able on TeamCity to make a screenshot of the page and publish somewhere?
Another trick would be writing the HTML of the page in the terminal so you can see what's missing.

Maybe the page is not loading as you expected.

[2020-05-06 16:00] Ibrahim-Islam commented on #1468
Yes that would be my guess as well. How do I get the whole html of the page?

[2020-05-06 16:03] kblok commented on #1468
[code]

[2020-05-06 17:14] Ibrahim-Islam commented on #1468
Do you have any idea why this would be rendered?
![image](https://user-images.githubusercontent.com/6401874/81207435-bbe0fe00-8ff7-11ea-978b-f4fdebe4f81b.png)

[2020-05-06 17:38] kblok commented on #1468
@Ibrahim-Islam it seems that TeamCity can't get to your page.

[2020-05-06 18:15] #1468 closed

[2020-05-07 02:11] Telavian opened #1469 "Occasional unable to launch chromium errors"
### Description

I am using MS Edge 81.0.416.68 in Win 10 and I sporadically see issues when attempting to load a new browser. It also seems in this case that the browser hangs around and doesn't get killed.

Not sure how to get more information or where to look for more information actually.
It might have something to do with high amounts of browsers being created or high load.
I am investigating

[2020-05-07 23:36] #1422 closed

[2020-05-08 03:39] ebardier commented on #1238
Hi @vickyrathee, Could you solve the problem?
I'm in the same situation..
Thanks!

[2020-05-08 13:35] vickyrathee commented on #1238
@ebardier I was never able to solve it.

[2020-05-09 21:44] kblok opened #1471 "Add option to run Puppeteer with different browsers"
https://github.com/kblok/puppeteer/pull/20/commits/c5a72e9887098671c3c940e86e181e3f90f1294f

[2020-05-09 21:46] kblok opened #1472 "Set default Firefox prefs"
https://github.com/kblok/puppeteer/pull/20/commits/35d5ba5830402af16070cafdc071c1970875a0d9

[2020-05-09 21:46] kblok opened #1473 "Reduce flakiness for accessibility tests with autofocus"
https://github.com/kblok/puppeteer/pull/20/commits/f0bf645c479beefe4190c4b2ac78c813e4e81e67

[2020-05-09 21:47] kblok opened #1474 "Don’t disable BlinkGenPropertyTrees anymore"
https://github.com/kblok/puppeteer/pull/20/commits/8b49dc62a62282543ead43541316e23d3450ff3c

[2020-05-09 21:47] kblok opened #1475 "Prepare jsHandle.uploadFile for CDP Page.handleFileChooser removal"
https://github.com/kblok/puppeteer/pull/20/commits/6091a34a360b0b8aec4d67f6190f131d7e8e3300

[2020-05-09 21:48] kblok opened #1476 "Move to GitHub hosting for Juggler binaries"
https://github.com/kblok/puppeteer/pull/20/commits/3a49cfc9f8bfd94ae2b1664fe403fe96db45dc0a

[2020-05-09 21:49] kblok opened #1477 "Roll Chromium to 722234"
https://github.com/kblok/puppeteer/pull/20/commits/a30cf05e3aa867645f17de1c75ec942c98836dc9#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R11

[2020-05-09 21:51] kblok opened #1478 "Quick fix for the headful file chooser"
https://github.com/kblok/puppeteer/pull/20/commits/9923e56b3ed05cde014c0047a4f65fef7749ebb0

[2020-05-09 21:52] #1049 closed

[2020-05-11 08:41] arabcewicz commented on #1477
@kblok , could you release a new version with rolled Chromium? Our Security Team alerts to this: https://nvd.nist.gov/vuln/detail/CVE-2019-13735

[2020-05-11 11:04] kblok commented on #1477
@arabcewicz we are planning this next version.
Remember that you can download any version with [DownloadAsync](https://github.com/hardkoded/puppeteer-sharp/blob/master/lib/PuppeteerSharp/BrowserFetcher.cs#L180)

[2020-05-11 11:19] kblok commented on #1473
It was already implemented

[2020-05-11 11:19] #1473 closed

[2020-05-11 22:54] #1474 closed

[2020-05-12 08:29] emilbm commented on #383
I've just managed to do the same before seeing your comment. I'm getting the same, but everything appears to be working. Have you experienced any issues with this approach of just ignoring the error? Memory-buildup or restarts or anything?

[2020-05-15 09:03] Toso82 opened #1484 "SetContentAsync Protocol error(Runtime.callFunctionOn): Target closed."
### Description

For small set content like "<title>test</title>"  await page.SetContentAsync() work correct for a big html context no. The strange it is that work correct if i use
BrowserWSEndpoint = "wss://chrome.browserless.io/". I don't know what could be the difference.

### Complete minimal example reproducing the issue

Complete means the code snippet can be copied into a unit test method i

[2020-05-18 07:43] Toso82 commented on #1484
@kblok  Hi I see you mark as bug. So I hope you can replicate and fix.

[2020-05-18 11:05] kblok commented on #1484
@Toso82 can you get me the length of the content you are sending to the browser?

[2020-05-18 11:10] kblok opened #1485 "Add TaskCreationOptions.RunContinuationsAsynchronously in all TaskCompletionSource"
We need to add that in all our TaskCompletionSource instances

[2020-05-18 11:12] kblok commented on #1453
@mcopur your code is working for me, could you share the stack trace?

[2020-05-18 11:16] #1449 closed

[2020-05-18 11:17] kblok commented on #1466
I was able to debug step by step this code

[code]

[2020-05-18 12:02] Toso82 commented on #1484
@kblok Yes lenght it is 11677. The strange it work on "wss://chrome.browserless.io/" and not in my azure docket app i don't know why.

[2020-05-18 12:04] kblok commented on #1484
@Toso82 yes, that's weird. Two more things. Can you share some example? (could be private by email) and 2: Did you test it locally on a simple console app? (not docker)

[2020-05-18 12:18] Toso82 commented on #1484
@kblok I organize on example to send you of content in private. I try now localy  in my mvc project work well. I mean use:

[code]

[2020-05-19 03:44] Olegkravec commented on #376
Hey guys,
I have problem with UnauthorizedAccessException...
I should create an app that should be installed to C:\ disk, for example in ...\AppData\Roaming, but there is problem that when app is starting in moment system is booting(autoboot) I always catch this exception:
[code]
As I saw I always catch this exception when app is started by system, when I do manual click "Open" - all ok.
I tryed t

[2020-05-21 11:32] arabcewicz commented on #1477
@kblok thanks, we actually have specified the Chromium rev. 'manually' in DownloadAsync.
But anyway, it is not ok that the default rev. is a vulnerable one. It seems reasonable to track the security advisory for Chromium and keep things up to date.
Also noted, that 'original' puppeteer rolls Chromium much more often (https://github.com/puppeteer/puppeteer/releases). Maybe puppeteer-sharp should at

[2020-05-21 12:09] kblok commented on #1477
But anyway, it is not ok that the default rev. is a vulnerable one. It seems reasonable to track the security advisory for Chromium and keep things up to date.

Every puppeteer/puppeteer-sharp version matches one Chromium version. So we can guarantee that the browser has a response to the API in an expected way.

Agreed. But, my time is limited. You can help us by [sponsoring this project](https:/

[2020-05-21 15:58] rkthompson3 commented on #632
@LamboJ 's fix worked for me too. Thanks a lot.

[2020-05-22 11:44] sergiuciudin commented on #1461
This is the reason why assembly binding to Microsoft.Extensions.Logging 3.1.4.0 doesn't work?

[2020-05-22 13:57] miakh opened #1486 "Safe way to find out whether Chromium is downloaded?"
From what I see, there is only possible via handling exception. It is for scenario, in which not finding executable is continued by downloading Chromium via BrowserFetcher. Is there a way to say whether Chromium is already downloaded?

[code]

I would expect something like

[code]

[2020-05-22 16:20] kblok commented on #1486
@miakh `BrowserFetcher.DownloadAsync` is supposed to download chromium only if chromium it's not on the destination path.

[2020-05-22 18:31] miakh commented on #1486
It seems as if `Puppeteer.GetExecutablePath` is resolved based on `PUPPETEER_EXECUTABLE_PATH` environment variable. So you might still get executable from different Puppeteer-sharp based project this way.

[2020-05-22 18:38] kblok commented on #1486
@miakh do you have some code for me to test?

[2020-05-22 20:24] miakh commented on #1486
@kblok It's not a bug. It's just not behaving way I supposed before I looked into it.
E.g. if I understand it correctly once `BrowserFetcher.DefaultRevision` will change then `BrowserFetcher.DownloadAsync` downloads new version (leaving possible cleaning of older to user). Same for `Puppeteer.GetExecutablePath` (if env variables are not set). Also `Puppeteer.GetExecutablePath` won't take just any

[2020-05-24 19:54] Ibrahim-Islam opened #1487 "To download and run only 1 browser instance"
### Description

What is the recommended approach/pattern to download and launch only 1 browser instance across multiple NUnit `TestFixture`s and then create new tabs instead for any new test?

### Complete minimal example reproducing the issue

[code]

### Expected behavior:

To able to have only 1 instance of Chrome and create new tabs for each execution

### Actual behavior:

Creates a new chro

[2020-05-25 11:56] kblok commented on #1486
You could also do something like this `BrowserFetch.RevisionInfo(yourRevision).FolderPath and check that.

[2020-05-25 11:58] kblok commented on #1487
@Ibrahim-Islam Playwright-Sharp is reusing browsers but using xunit. I think that if you make this question on Stack Overflow you will get more eyes and more help than here ;)

[2020-05-25 11:58] #1487 closed

[2020-05-26 12:08] JoopStringer opened #1488 "Simple example of a MVC controller returning a PDF from action"
Is there an example available how to use puppeteer-sharp in a C# MVC ASP.NET controller to return a PDF from an action?

Something like:
[code]

[2020-05-26 12:10] kblok commented on #1488
@ironman1964 how about this https://github.com/kblok/netconfar-puppeteer-sharp-demo/blob/master/hacking-the-browser-api/Controllers/MediumController.cs#L13 ?

[2020-05-26 13:19] ironman1964 commented on #1488
Dario, that one is calling "just" an external page and returns a PDF
What I'm looking for is returning the actions-view in PDF
But will try it out later today ...

[2020-05-26 16:01] kblok commented on #1488
@ironman1964 got it.
I would love to see that. I created an issue there, but I got no answer https://github.com/webgio/Rotativa.AspNetCore/issues/27

[2020-05-26 18:27] clement128 opened #1489 "Use Page.DisposeAsync and Browser.DisposeAsync hang forever"
**Before you file a bug, have you:**

* Tried upgrading to newest version of PuppeteerSharp, to see if your issue has already been resolved and released?
Yes, I am using the latest version.

* Checked existing open *and* closed [issues](https://github.com/kblok/puppeteer-sharp/issues?utf8=%E2%9C%93&q=is%3Aissue), to see if the issue has already been reported?
Yes, I do search quite a lots and also

[2020-05-26 18:32] kblok commented on #1489
@clement128 could you try using `ConfigureAwait(false)` across the board?

[2020-05-26 18:52] clement128 commented on #1489
Hi @kblok , I am running with ASP.NET Core, base on my understanding I don't need to use `ConfigureAwait(false)` since there is not any `SynchronizationContext` by default? Correct me if I am wrong.

[2020-05-26 18:53] kblok commented on #1489
That's true @clement128.

[2020-05-27 04:56] MindSwipe commented on #1487
It seems like the problem isn't related with Puppeteer but more with NUnit. This turns the question into "How do I run a NUnit setup only once" which can be done using the [`OneTimeSetup`](https://github.com/nunit/docs/wiki/OneTimeSetUp-Attribute) attribute from NUnit

[2020-05-27 09:29] alex-fomin opened #1490 "Page.Url does not contain url fragment"
### Description

Puppeteer Page Url does not contain url Fragment.

### Complete minimal example reproducing the issue

[code]
### Expected behavior:

Page `Url` should include url fragment as well

### Actual behavior:

Page `Url` does not include url fragment

### Versions

PuppeteerSharp Version="2.0.3"
.NET Core SDK (reflecting any global.json):
 Version:   3.1.201
 Commit:    b1768b4ae7

Runt

[2020-05-29 12:31] johnstaveley opened #1492 "PupeteerSharp: Protocol error (Runtime.callFunctionOn): Session closed"
Raised issue at the request of hardkoded re https://stackoverflow.com/questions/62084093/pupeteersharp-protocol-error-runtime-callfunctionon-session-closed

[code]

This works locally but fails on the last line when deployed to a docker container. It fails with the following message:

Failed PrintToPdf at stage Load Page 1 with message Protocol error (Runtime.callFunctionOn): Session closed. Most

[2020-05-30 08:57] mxwdxypage opened #1493 "process can't exit"
environment:
windows server 2012 r2  ,iis  InProcess Mode .net core 2.2.103
when site start ,it create 4 process
![image](https://user-images.githubusercontent.com/7288511/83322631-ef781680-a28b-11ea-9f49-d5388b58771c.png)
when site stop these process can't exit

but when i change to OutOfProcess Mode
these process can exit normally

[2020-05-30 19:48] kblok opened #1494 "Test firefox in CI"

[2020-05-31 15:33] kblok commented on #1493
@mxwdxypage if you don't dispose the browser explicitly, there is no guarantee that the processes will be killed by the IIS.

[2020-06-01 08:51] mxwdxypage commented on #1493
`aft.ApplicationStopped.Register(() =>
            {
                LogHelper.WriteInfo(GetType(), "Stopped  " + DateTime.Now);
                try
                {
                    var browser = ServiceLocator.Instance.GetService<Browser>();
                    if (browser != null)
                    {
                        browser.CloseAsync().Wait();
                        LogHelper.Wr

[2020-06-01 08:53] #1493 closed

[2020-06-01 17:25] sseyalioglu opened #1495 "Evaluation failed "Uncaught (in promise)" - Loading script failed (URL)"
### Description

We inject self hosted URL as script to the page and 99% it works but we have one case, which we don't know why it fails.
URL looks like this: http://localhost:5011/js/be/somenamehere/script.js and it is close to 7500 lines.

We see the following:
![image](https://user-images.githubusercontent.com/2631639/83432342-91fbdb00-a3ed-11ea-8453-1f1fa6da615d.png)
In here:
![image](https://

[2020-06-01 17:28] sseyalioglu commented on #1495
Corrected launch scenario
var chromiumLaunchOptions = new LaunchOptions
                                    {
                                        Headless       = false,
                                        Devtools       = TRUE,
                                        LogProcess     = true,
                                        Timeout        = 600000

[2020-06-01 17:40] sseyalioglu commented on #1495
I found the issue leading to this.
Once I change the URL that starts the process in page.GoToAsync to shorter one "https://www.google.com/", injection worked.

So somehow we have an issue with long URL paths but I really need that long path, no other choice.

[2020-06-01 18:57] sseyalioglu commented on #1495
Correction here once again. It is not about the length of the URL but the page content.
Page content is making script injection fail. All other long URLs also work.
So far: The script itself is fine, long url is fine. But somethingin in the page fails this.

[2020-06-01 19:01] sseyalioglu commented on #1495
Here is the almost final verdict:
If page has appdynamics, then we have this issue.
![image](https://user-images.githubusercontent.com/2631639/83444017-929d6d00-a3ff-11ea-8d7b-7678b1db6b1d.png)

Looking a way to block that content completely to bypass the issue.

[2020-06-01 19:35] sseyalioglu commented on #1495
Here is the final verdict:
While adding script to the page with the following content
[code]

We get the exception.

Adding the following piece of code, solved all my problems:
[code]

[2020-06-02 12:14] kblok commented on #1495
@sseyalioglu what I think is that the script being injected is failing, and you are getting the javascript result of that. With that request filter, you might prevent the failing script from being loaded.

[2020-06-03 22:34] trentet opened #1497 "Improve docfx_project/examples/Page.WaitForSelectorAsync.Searching.md"
Examples of more types of selectors would be appreciated.

For example, I can get #status_info to work for identifying a div that has an id of 'status_info', but I want to be able to take it further and make it so it returns true only when the innerText of the div includes specific text. I can get this to work in the Chrome console, but not with the Page.WaitForSelectorAsync method. Been searching

[2020-06-04 09:49] johnstaveley commented on #1492
Is there anything we can do to help with this. I've tried removing
await page.WaitForFunctionAsync("() => ....
but it then fails on
await page.PdfStreamAsync(...
instead so it appears not to like the page. Any clues you might have would be appreciated!

[2020-06-06 14:50] fgiuliani commented on #1471
@kblok can I work on this issue?

[2020-06-06 17:29] Meir017 commented on #1471
the firefox version of puppeteer-sharp isn't implemented yet

[2020-06-06 17:30] kblok commented on #1471
He will work on that @Meir017  ;)

[2020-06-12 08:23] blafa opened #1499 "Chromium DefaultRevision of PuppeteerSharp 2.0.3 not working on Windows"
Hi
The DefaultRevision (706915) of the newest PuppeteerSharp 2.0.3 doesnt work on Windows Machine.

PuppeteerSharp throws:
PuppeteerSharp.ChromiumProcessException: 'Failed to launch Chromium! '

Starting chrome.exe manually from Folder downloaded by PuppeteerSharp doesn't start chromium too.
Manually download Chromium (Revision 706915) from https://commondatastorage.googleapis.com/chromium-browser

[2020-06-12 11:13] kblok commented on #1497
@trentet could you share the code you used in the chrome console?

[2020-06-12 11:25] kblok opened #1500 "Implement retry tests"
In the same way we did on playwright-sharp https://github.com/hardkoded/playwright-sharp/pull/446

[2020-06-12 12:40] kblok commented on #1499
I just tested 2.0.3 both on windows and on Mac, and it downloaded the revision 706915.

[2020-06-12 12:47] blafa commented on #1499
And you can start it without Problems? From a .net Core 3.0 Console-Application?

[2020-06-12 13:02] kblok commented on #1499
I just updated the demo project to 3.1 and it seems to be working https://ci.appveyor.com/project/kblok/puppeteer-sharp-0c8w9/builds/33484403/job/bp8dqmavu8tsqffr

[2020-06-12 13:05] blafa commented on #1499
Ok, not working on my Machine. Maybe its the windows version. What version (or build) do you have on your machine?

[2020-06-12 13:08] kblok commented on #1499
Windows 10 is my local, AppVeyor's VM is Windows Server 2019.
The latest version (not implemented on Puppeteer-Sharp) is 756035. You could try calling DownloadAsync using that revision. But it seems it's something on your local env.

[2020-06-12 13:10] blafa commented on #1499
yes could be my local env. Its strange thats only this specific version. with version from PuppeteerSharp 1.20 its working...

[2020-06-12 13:28] blafa commented on #1499
It's kind of strange. The next working Version is 756145.

[2020-06-12 13:29] kblok commented on #1499
Can you try setting the revision of v1.20?

[2020-06-12 13:35] blafa commented on #1499
![image](https://user-images.githubusercontent.com/36913028/84508294-5b15a700-acc2-11ea-91c2-123ee3b7e964.png)
downloaded...

![image](https://user-images.githubusercontent.com/36913028/84508260-505b1200-acc2-11ea-8c68-008c93fdf053.png)
but crashes :(

[2020-06-12 16:05] trentet commented on #1497
I have made some adjustments since posting this, but this is the Chrome console command that returns true if the desired element exists: document.queryselector('#status_info').innerText.match('^Showing ([1-9][0-9]*?) to ([1-9][0-9]*?)') of ([1-9][0-9]*?) entries') != null

What is the best way to wait for a Page to load until this returns true, with a timeout parameter? I have a convoluted workaro

[2020-06-12 16:13] kblok commented on #1497
You can user [WaitForFunctionAsync](http://www.puppeteersharp.com/api/PuppeteerSharp.Page.html#PuppeteerSharp_Page_WaitForFunctionAsync_System_String_PuppeteerSharp_WaitForFunctionOptions_System_Object___).

[code]

[2020-06-18 07:06] DevGenesis95 opened #1502 "ChromiumProcessException: Failed to launch Chromium!"
### Description

When running the function in AWS lambda getting this exception.

{
    "ClassName": "PuppeteerSharp.ChromiumProcessException",
    "Message": "Failed to launch Chromium! ",
    "Data": null,
    "InnerException": null,
    "HelpURL": null,
    "StackTraceString": "   at PuppeteerSharp.ChromiumProcess.State.StartingState.StartCoreAsync(ChromiumProcess p)\n   at PuppeteerSharp.Chrom

[2020-06-18 11:56] kblok commented on #1502
Hey @DevGenesis95 can you take a look at this https://github.com/litmus/HeadlessChromium.Puppeteer.Lambda.Dotnet and see if that helps?

[2020-06-18 12:02] DevGenesis95 commented on #1502
Thanks for the reply @kblok but I have tried that too but unfortunately it is not compiling with my lambda which is in .net core 2.1 as mentioned in the repo. Apart from that, I have tried to execute all the permission through my code but yet the issue still persists.

                var fileInfoexec = new UnixFileInfo(executablePath);
                fileInfoexec.FileAccessPermissions = FileAcce

[2020-06-18 12:09] kblok commented on #1502
@DevGenesis95 I think it's not only about a permission fix but which is the chromium-browser AWS supports, see https://github.com/alixaxel/chrome-aws-lambda/tree/master/bin

[2020-06-18 12:13] DevGenesis95 commented on #1502
Umm Actually I don't know much about node js..are you taking about the browser revisions? Is that the issue.

[2020-06-18 12:20] kblok commented on #1502
It seems AWS won't be able to run a normal chromium release. Those 2 libraries are downloading another chromium version there.

[2020-06-18 12:27] DevGenesis95 commented on #1502
The nuget used is PuppeteerSharp version 2.0.3 and the Browserfetcher.DefaultRevision = 706915.
Should I degrade the puppeteer version? Any suggestion about what should I do. It would be really appreciated :)

[2020-06-18 13:14] kblok commented on #1502
I created this issue https://github.com/litmus/HeadlessChromium.Puppeteer.Lambda.Dotnet/issues/49 :)

[2020-06-18 13:16] DevGenesis95 commented on #1502
Thanks for the help 👍

[2020-06-18 17:41] DevGenesis95 commented on #1502
Yes,
![PuppeteerError](https://user-images.githubusercontent.com/34500301/85053973-fc1bca80-b1b8-11ea-95b5-8e333c4796ef.png)
 I  have downgraded the Pupeeter NuGet package to 1.14.1 which uses the DefaultRevision = 641577 but still, the error persists. Attaching cloudwatch screenshot for this

[2020-06-18 17:48] brianfeucht commented on #1502
@DevGenesis95 `HeadlessChromium.Puppeteer.Lambda.Dotnet` build `1.0.1.39` is `chromium 756035 (83.0.4103.0)`

I am running this with `PuppeteerSharp` build `2.0.3` on Lambda .NET 3.1.  It should work with Lambda .NET 2.1 but I haven't verified that myself.  Would you be willing to try that combo?

[2020-06-18 17:55] DevGenesis95 commented on #1502
Thanks for the info actually I can go with .Net 3.1 if that's working. No, it's not working in 2.1 for me. Can you give me a solution where you have integrated it 3.1 lambda that would be really helpful :)

[2020-06-18 18:00] brianfeucht commented on #1502
Our project files looks like this:
[code]

The `aws-lambda-tools-default.json` file looks like:
[code]

We deploy following a process similar to this:
https://aws.amazon.com/premiumsupport/knowledge-center/build-lambda-deployment-dotnet/

[2020-06-18 18:14] DevGenesis95 commented on #1502
Ok but can you check mine..
![image](https://user-images.githubusercontent.com/34500301/85056720-5585f880-b1bd-11ea-85bf-5cabbea12a0a.png)
![image](https://user-images.githubusercontent.com/34500301/85056734-5d459d00-b1bd-11ea-84c9-ad13c9ac1acb.png)
![image](https://user-images.githubusercontent.com/34500301/85056750-659dd800-b1bd-11ea-96bb-d90f17fa60d0.png)

I have created a lambda function(3.1)

[2020-06-18 18:26] brianfeucht commented on #1502
Ah I see what is going on here, there is a bit of magic in the creation of the nuget packages that make sure `aws.tar.br`, `chromium.br` and `swiftshader.tar.br` make into the final zip package uploaded to lambda.  Since you are including this project this way, that magic is lost and those files do not make it into your Lambda deploy package.

Instead of using the project reference can you use the

[2020-06-18 18:32] DevGenesis95 commented on #1502
Yes, I can use in any way been lost from few days :(
ok joke apart

so u want me to include these in my csproj of lambda ryt?
 <PackageReference Include="PuppeteerSharp" Version="2.0.3" />
    <PackageReference Include="Amazon.Lambda.Serialization.Json" Version="1.2.0" />
    <PackageReference Include="HeadlessChromium.Puppeteer.Lambda.Dotnet" Version="1.0.1.39" />
  But just a bit confused why we

[2020-06-18 18:38] brianfeucht commented on #1502
All `HeadlessChromium.Puppeteer.Lambda.Dotnet` does is repackage a build of `chromium` for Lambda and handles copying those files to a place executable by .NET.  It is meant to be a simple helper library to make PuppeteerSharp easier to use.  Building `chromium` for lambda is a bunch of work so we actually reuse the work done for a [NodeJs project](https://github.com/alixaxel/chrome-aws-lambda)

[2020-06-18 18:41] DevGenesis95 commented on #1502
ok that's really impressive work u did there.

Update I have created a new lambda(3.1)..can you verify if its correct this time.
![image](https://user-images.githubusercontent.com/34500301/85059522-689ac780-b1c1-11ea-947f-4b6679bb87f7.png)

![image](https://user-images.githubusercontent.com/34500301/85059565-781a1080-b1c1-11ea-8e15-8221fdce942e.png)

[2020-06-18 18:43] brianfeucht commented on #1502
@DevGenesis95 yes this looks like it should work

[2020-06-18 18:43] DevGenesis95 commented on #1502
oops..got this when on run i think its gonna take a while :(
![image](https://user-images.githubusercontent.com/34500301/85059679-ae579000-b1c1-11ea-9604-a0cc2c811fb1.png)

[2020-06-18 18:47] brianfeucht commented on #1502
@DevGenesis95 not sure the mock lambda will work on windows.  Since the chromium build is specific to a Linux Lambda AMI it is likely even if you get past this error you will get a bunch of failures trying to start chrome

[2020-06-18 18:55] DevGenesis95 commented on #1502
ok, last shot I'm trying is to run this in the AWS environment.

[2020-06-18 19:54] DevGenesis95 commented on #1502
Kudos guys..finally its working ..able to generate pdf from URL

![image](https://user-images.githubusercontent.com/34500301/85065917-98e76380-b1cb-11ea-8837-497259156910.png)

Thanks a ton!! @brianfeucht @kblok :)

[2020-06-18 19:55] kblok commented on #1502
Awesome!!
Thank you @brianfeucht!

[2020-06-18 19:55] #1502 closed

[2020-06-18 19:56] kblok opened #1503 "Add HeadlessChromium.Puppeteer.Lambda.Dotnet to the readme page."
https://github.com/litmus/HeadlessChromium.Puppeteer.Lambda.Dotnet

[2020-06-19 12:04] #1497 closed

[2020-06-23 07:06] kerohero opened #1505 "Protocol error(Runtime.callFunctionOn): Target closed."
### Description

It happens only if you're using Proxies, after logging in, when the page redirects you. You get the error, I can't share the website or the code :(
When the error occurs, the page is still open, it's not closed.

### Full Error

`Protocol error(Runtime.callFunctionOn): Target closed. (NetworkManager failed to process Fetch.requestPaused. Value cannot be null.
Parameter name: key.

[2020-06-23 08:32] d668 opened #1506 "EvaluateFunctionAsync hangs"
[code]
Why this hangs?

[2020-06-23 08:37] d668 commented on #1506
[code]

[2020-06-23 11:23] kblok commented on #1505
It will be hard to reproduce without an example...
Can you build an example with a public site?

[2020-06-23 11:24] kblok commented on #1506
`.Result` is locking. See https://blog.stephencleary.com/2012/07/dont-block-on-async-code.html

[2020-06-23 13:46] pmdevers commented on #1489
@kblok any updates on this issue.

[2020-06-23 14:51] kblok commented on #1489
Sorry @clement128 @pmdevers I will take a look tomorrow.

[2020-06-24 12:58] kblok commented on #1489
@clement128  @pmdevers could you help me break this project https://github.com/kblok/PuppeteerSharpOnAspNetCoreDemo?

That project is working for me.

[2020-06-25 09:23] kerohero commented on #1505
@kblok  Tried to reproduce it with other websites, wasn't lucky enough.
I can download PuppeteerSharp and debug it for you, just lemme know what to debug,
I was checking the function 'OnRequestPausedAsync' and the NetworkManager in general, there is 3 ConcurrentDictionary, the code tries to add a value with a null key to one of them, Shouldn't checking if the key is null or not solve the problem?

[2020-06-25 15:15] danbopes opened #1507 "Browser crashes when trying to click on href with _blank"
### Description

Browser closes/crashes when attempting to download very simple file

### Complete minimal example reproducing the issue

Complete means the code snippet can be copied into a unit test method in a fresh C# project and run.
Minimal means it is stripped from code not related to reproducing the issue.

E.g.

[code]

Express server:

[code]

public/index.html:
[code]

### Expected beha

[2020-06-25 15:17] #1506 closed

[2020-06-25 15:18] kblok commented on #1505
What I tend to do is running the same code in puppeteer-sharp and in puppeteer. And see, first if the code works in pptr and if it does I see what is failing on pptr#

[2020-06-25 15:19] kblok commented on #1492
Is there any public page I can test that code with?

[2020-06-26 08:10] johnstaveley commented on #1492
I'm afraid not. We decided it was because of the docker image missing some resources which was causing Chrome to Crash. I have put more details here: https://stackoverflow.com/questions/62084093/pupeteersharp-protocol-error-runtime-callfunctionon-session-closed

[2020-06-26 11:05] pmdevers commented on #1489
Issue of zombie processes is resolved when switching to netcore 3.1
Issue was on net core 2.2

[2020-06-26 11:08] kblok commented on #1492
@johnstaveley did you follow this recipe http://www.hardkoded.com/blog/puppeteer-sharp-docker ?

[2020-06-26 11:18] johnstaveley commented on #1492
I following this recipe: http://www.hardkoded.com/blog/running-puppeteer-sharp-azure-functions . The only place I had to deviate from it was for ttf-freefont, fonts-freefonts-ttf and ttf-mscorefonts-installer have 'no installation candidate'. So I used fonts-freefont-ttf instead.

[2020-06-26 15:04] DreamITSoftware opened #1508 "How to download a file?"
I am trying to download a file, but can't find any examples to do so.

[2020-06-26 15:29] kblok commented on #1508
Hey @DreamITSoftware, what would trigger the file download?

[2020-06-26 15:31] DreamITSoftware commented on #1508
I was hoping to be able to pass a URL without clicking a button

[2020-06-26 15:33] DreamITSoftware commented on #1508
I was hoping to do something like this page.DownloadFile(URL);

[2020-06-26 15:34] kblok commented on #1508
If you have the url you could use [HttpClient](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=netcore-3.1). You wouldn't need a browser for that.

[2020-06-26 15:35] DreamITSoftware commented on #1508
Will the HttpClient recognize the cookies from Puppeteer?  This site requires a login.

[2020-06-26 15:41] kblok commented on #1508
You could try setting the download behavior as example 1 [here](https://github.com/hardkoded/puppeteer-sharp/issues/1238). And then you do Page.GoToAsync to that url.

[2020-06-29 05:55] clement128 commented on #1489
Hi @kblok, are you run it on docker?

@pmdevers  hmm interesting, I was running on netcore 3.1 also. with Orleans.

[2020-06-29 07:55] pmdevers commented on #1489
Upgraded the project with the issue to 3.1 and still having zombie processes.
It looks like the project is locking the chrome processess.

[2020-06-30 15:16] pmdevers commented on #1489
https://github.com/puppeteer/puppeteer/issues/1825

Have found that the following arguments resolved the zombie processes

Args = new[] {
                    "--headless",
                    "--no-sandbox",
                    "--disable-gpu",
                    "--single-process",
                    "--no-zygote"
                }

[2020-07-01 11:35] testk1180 opened #1509 "Failed to Launch Chromium issue in Pupeteersharp 2.0.3 version"
Hello Sir,

We are working for one of enterprise client with having multiple session of pupeteer sharp running at same time with different chromium instances. We have added profile for chrome to separate the instance of chromium in pupeteersharp.

But there are very random issues of "failed to launch chromium" appearing on any of this chromium instance.

When we checked the logs - It said the chro

[2020-07-01 22:13] SdkCwss opened #1510 "Creates pdf before fonts-style is fully applied"
Hi
I'm trying to create a pdf from a html template using puppeteer-sharp - headless chrome.
This works fine for about half of the requests - the other half returns a pdf where the fonts are not applied to the page.
(The requests are perfectly similar.. same html-template, css - all! - it is not consistent--sometimes two, three good pdfs - then one-two-three bad.. totally random!)

- The Fonts (Rob

[2020-07-02 01:22] IDIHTD opened #1511 "asp.netcore3.0 application on centos 7 One or more errors occurred. (simsun.ttc not found as file or resource.)"
asp.netcore3.0 on linux  One or more errors occurred. (simsun.ttc not found as file or resource.)
I'm sure x-server is installed and simsun.ttc was installed.
and I reboot centos 7,it don't work

[2020-07-02 02:11] #1511 closed

[2020-07-02 18:54] aishamerhebi opened #1512 "Improve docfx_project/examples/Page.EvaluateExpressionAsync.GetAllLinks.md"
Explain how would you like this document to be impoved

[2020-07-03 12:46] kblok commented on #1512
What do you think this document should be improved @aishamerhebi ?

[2020-07-03 18:14] aishamerhebi commented on #1512
I was actually looking for a solution for browser disconnect exception.
Eventually i got it is related to the newest version of chromium and i
needed to be on 79

On Fri, Jul 3, 2020 at 3:47 PM Darío Kondratiuk <notifications@github.com>
wrote:

[2020-07-03 20:46] #1512 closed

[2020-07-04 20:38] orchardc opened #1513 "How do I know if ClickAsync() is successfully clicked?"
How do I know if a button is successfully clicked?

[code]

The second line of code get timeout error because the click doesn't work  (the button is disabled, so not clickable)

B

[2020-07-06 11:04] kblok commented on #1513
To keep the repo organized let's leave Github issues for Feature Requests, bugs and issues.
I kindly ask you to create a question on Stack Overflow. I follow the tag [puppeteer-sharp](https://stackoverflow.com/questions/tagged/puppeteer-sharp). This will help us get more eyes on those questions and leave answers easily available to the community.
Feel free to paste the Stack Overflow link here.

[2020-07-06 11:04] #1513 closed

[2020-07-07 11:01] #1471 closed

[2020-07-07 12:47] fgiuliani commented on #1048
can I work on this?

[2020-07-07 12:50] kblok commented on #1048
Yes @fgiuliani!

[2020-07-07 23:14] sseyalioglu opened #1514 "Linux version different and does not execute prototypes"
### Description

The same url that works on macos or windows fails to load on linux version (headless or headful).
In the website we have prototype that overrides fetch and while it works perfectly on macos, samething does not work on linux version (to be specific ubuntu 18.04 with desktop/gui installed).

### Complete minimal example reproducing the issue

Just load the following URL, nothing els

[2020-07-08 07:00] testk1180 commented on #1509
Hello Sir,

Please let know what can be done in this failed to launch chromium case. Also let us know if any additional details are required fro resolution.

[2020-07-08 11:03] kblok commented on #1509
@testk1180 do you have anything for me to test locally?

[2020-07-08 11:04] kblok commented on #1514
@sseyalioglu are you getting the same using Chrome in both platforms?

[2020-07-08 11:20] sseyalioglu commented on #1514
No.
When chromium is used standalone, everything worked normally on all platforms.

[2020-07-08 13:17] Solaflex commented on #1505
I have the same issue since recent time. I am not aware of changing something which could lead to this issue. I use browserless and Chrome. The code is using the lastest puppeteer-sharp version (2.0.3)

Please use this code to reproduce the issue. I can provide you credentials to luminati.io if you need. Please drop me a private message if so.

`
try
{

	using (var browser = await Puppeteer.Connec

[2020-07-09 01:03] ElijahDD opened #1515 "Submit form"
/delete

[2020-07-09 01:08] #1515 closed

[2020-07-09 13:31] nglthach opened #1516 "[Question] Would you like to have a recorder for puppeteer-sharp?"
Hi,
I'm Thach - Smart Monkey's author.
I have added a functionality to Smart Money for exporting a project to Puppeteer code (jest puppeteer). Here is the video for demo: https://www.youtube.com/watch?v=eBzK85MOo-A

In the most of cases, you don't need to write any line of code for creating a test suite.

I have one question: would you like to have similar functionality for exporting project to pu

[2020-07-09 13:34] mcopur opened #1517 "Error : Navigation failed because browser has disconnected!"
I am trying to navigate a page and then I would like to access some page elements but I got those errors which I sated below.
I shared my code below, you can try it. How Can I solve this issue?

- Puppeteersharp Version: 2.0.3
- Operation System: Windows 10
- .Net Library: .Net Core 3.1

[code]

**Error Message that I got for the inner catch block:**

**Error Message that I got for the outer catch

[2020-07-09 17:52] sseyalioglu commented on #1514
@kblok do you have any suggestion? Is there may be a filter we can use so this issue does not happen? Honestly don't know what the issue is.

Our JS engineer told me: “We are overriding the prototype of global functions of “window” object, such as fetch() on this page to add some headers to requests. However, seems like puppeteer on linux is interfering with this — fetch is acting the like origina

[2020-07-09 18:12] kblok commented on #1514
@sseyalioglu for what I see the problem are the previous requests, instead of 200 they are returning a 301 (redirect)
Could you see where they are redirecting to? Maybe they are detecting a bot.

[2020-07-09 18:15] sseyalioglu commented on #1514
It is 301 because necessary headers don't go there. Because we are unable to utilize overridden functions of window object like fetch etc.

[2020-07-09 18:47] kblok commented on #1514
Working for me

![image](https://user-images.githubusercontent.com/2198466/87078440-01d66000-c1fb-11ea-98c8-453dade95fe6.png)

![image](https://user-images.githubusercontent.com/2198466/87078401-f1be8080-c1fa-11ea-8e59-0b1c9954746c.png)

[2020-07-09 18:49] sseyalioglu commented on #1514
Is this really on linux? I tried on several machines, really.

[2020-07-09 18:49] sseyalioglu commented on #1514
Technically, used ubuntu 18.04

[2020-07-09 18:50] kblok commented on #1514
Ubuntu 18.04 on a VM

[2020-07-09 18:52] kblok commented on #1514
![image](https://user-images.githubusercontent.com/2198466/87079293-3565ba00-c1fc-11ea-9be9-32849a95b18b.png)

[2020-07-09 18:57] sseyalioglu commented on #1514
I will try this again on desktop ubuntu 18.04, i tried on server version with desktop installed after. (AWS)

[2020-07-09 20:13] sseyalioglu commented on #1514
Tried the same with same failure.
To make everything super clear, here is the screencast that shows what I experience:
[https://d.pr/v/P9kXgB](https://d.pr/v/P9kXgB)

Whole code is here to see it again
`            var downloader = new BrowserFetcher(new BrowserFetcherOptions
                                                {
                                                    Path = Path.Combine(P

[2020-07-09 20:14] sseyalioglu commented on #1514
![image](https://user-images.githubusercontent.com/2631639/87086182-0c3a2f00-c1e6-11ea-8a09-c0bd16606fbc.png)

[2020-07-09 20:42] Solaflex commented on #1505
The code runs fine on pptr but fails on pptr# ...

[2020-07-09 20:44] kblok commented on #1514
I was able to reproduce it. I wasn't looking at the XHR tab.
But I do get that image
![image](https://user-images.githubusercontent.com/2198466/87088817-cabc7a80-c20b-11ea-9f8e-8eafe30e188c.png)

The same happens in puppeteer in node JS

[code]

So it must be something on the browser itself.

[2020-07-09 20:46] sseyalioglu commented on #1514
ok, I am not crazy than at least. Certainly there is something different. And I think this will be the behavior on any linux version, right?
And do you have any hints that may help?

[2020-07-09 21:00] kblok commented on #1514
I would report that on `https://bugs.chromium.org/`(you can use the code I shared). Besides that, I would be diving into StackOverflow as you would.

[2020-07-09 21:03] sseyalioglu commented on #1514
Is it bugs chromium? I think it is related to puppeteer. Chromium by itself works actually. It fails when run with puppeteer only.

[2020-07-09 21:06] kblok commented on #1514
It's on Chromium. pptr is not doing anything to cause that.

[2020-07-09 21:12] sseyalioglu commented on #1514
Got your point but can you please look into this short screencast as well:
[https://d.pr/v/AoPZ4B](https://d.pr/v/AoPZ4B)
This is the sole reason, I think there is something about puppeteer on linux or the way we launch chromium.

[2020-07-09 21:17] kblok commented on #1514
Try running this `./chrome --remote-debugging-port=0 --enable-automation`

[2020-07-09 23:21] sseyalioglu commented on #1514
Yes, that is it. Having the same issue.

[2020-07-09 23:23] sseyalioglu commented on #1514
any of those switches on, causes the issue

[2020-07-09 23:26] kblok commented on #1514
Those flags make automation possible. We add over 10 more flags ever those two.
That's why the issue is on chromium.

[2020-07-09 23:27] sseyalioglu commented on #1514
Got it, thanks, will report to them.

[2020-07-10 19:32] Solaflex commented on #1517
Similar to #1505

[2020-07-12 09:26] xiaohuimc commented on #1362
how to solve this problem

VM129:78 Uncaught ReferenceError: canvas is not defined
    at <anonymous>:78:40
    at <anonymous>:84:6

[2020-07-13 11:30] mandal-rahul commented on #1509
Hi here is a sample code of our application. The failure occurs as Puppeteer.LaunchAsync(options). The code works fine and behaves as expected, but randomly we get 'Failed to launch chromium error.'

Also, we are running 7 instances of the same application in one VM. **All of the 7 instance have their own copy of local-chromium.**

            try
            {

                var args = new List

[2020-07-13 11:32] mandal-rahul commented on #1509
Also, here is a detailed error.
Failed to launch Chromium! [0713/050224.389:FATAL:feature_list.cc(282)] Check failed: !g_initialized_from_accessor. \r\nBacktrace:\r\n\tovly_debug_event [0x00007FFE055F1252+16183762]\r\n\tovly_debug_event [0x00007FFE055F0832+16181170]\r\n\tovly_debug_event [0x00007FFE05603383+16257795]\r\n\tovly_debug_event [0x00007FFE055F3386+16192262]\r\n\tovly_debug_event [0x0000

[2020-07-13 23:32] kerohero commented on #1505
@kblok @Solaflex So I downloaded Puppeteer Sharp code and added it to my project to debug it
The problem is in the NetworkManager file, the OnRequestAsync method, specifically in this line
`var frame = await FrameManager.TryGetFrameAsync(e.FrameId).ConfigureAwait(false);`
e.FrameId being null causes the exception, I gone to check Puppeteer itself and found this
`const frame = event.frameId
      ?

[2020-07-13 23:33] kerohero commented on #1505
@Solaflex If you can confirm that this works for you too, I can make a PR

[2020-07-14 10:01] Solaflex commented on #1505
@kerohero
I can confirm that your new line has fixed the issue. A PR would be great.

[2020-07-14 22:07] fgiuliani commented on #1494
can I work on this?

[2020-07-14 22:08] fgiuliani commented on #1048
This issue is done, right?

Covered here: https://github.com/hardkoded/puppeteer-sharp/pull/1518

[2020-07-14 22:08] #1048 closed

[2020-07-14 22:09] fgiuliani commented on #1472
can I work on this one?

[2020-07-14 22:09] kblok commented on #1494
@fgiuliani of course!

[2020-07-15 08:57] mcopur commented on #1517
any progress? or help with that issue? I have still that problem.

[2020-07-15 10:48] shoe-diamente opened #1519 "Link to "linux troubleshooting guide" in homepage is 404"
**Before you file a bug, have you:**

### Description

The link in the master branch for the "linux troubleshooting guide" (https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md)  is not found.

[2020-07-15 11:34] kblok commented on #1517
Closing in favor of #1505

[2020-07-15 11:34] #1517 closed

[2020-07-15 12:01] kblok commented on #1505
@kerohero PRs are welcome :)

[2020-07-15 12:02] kblok commented on #1472
@fgiuliani  Sure!

[2020-07-16 00:16] maguro1kan opened #1520 "ContentFrameAsync doesn't work"
await page.GoToAsync("https://recaptcha-demo.appspot.com/recaptcha-v2-checkbox.php", options);
ElementHandle frameEl = await page.QuerySelectorAsync(".g-recaptcha div iframe");
var frame = await frameEl.ContentFrameAsync(); <- **Error is here**

please check it. thanks

[2020-07-16 05:57] kerohero commented on #1505
Created the PR, Idk if I did it right, it's my first time XD

[2020-07-16 11:02] kblok commented on #1505
Fixed on #1521 thank you @kerohero! I hope this is the first PR of many to come!

[2020-07-16 11:02] #1505 closed

[2020-07-16 11:07] kblok commented on #1520
@maguro1kan could you try using this line?

[code]

[2020-07-16 13:01] mcopur commented on #1505
@kblok @kerohero @Solaflex
Just a quick note, there is a problem between puppeteersharp and the latest version of Chrome. That error occurs, if you try to go for example kijk.nl and if you try to get buttons on the page. When I uninstall the latest version of Chrome and installed Chrome  Version 79.0.3945.88, it worked without any issue. You might want to check it.

[2020-07-16 13:04] kblok commented on #1505
@mcopur the browser failing is the browser downloaded by puppeteer sharp or you are using `ExecutablePath` to use the installed browser?

[2020-07-16 14:03] mcopur commented on #1505
@kblok  I am using ExecutablePath, already installed by the user on windows 10. It is not Chromium, it is Chrome.

[2020-07-16 14:06] kblok commented on #1505
@mcopur there is a mapping stating which puppeteer/pptr# version works with which Chrome(ium) version [here](https://github.com/puppeteer/puppeteer/blob/v5.1.0/docs/api.md)

[2020-07-16 14:15] mcopur commented on #1505
@kblok I was using puppeteer-sharp directly not the puppeteer. Is there a configuration to change it in puppeteer-sharp, or do I need to install it? Currently, I am using the pupperteer-sharp latest version which is 2.0.3
If I am not mistaken, Puppeteer-sharp uses puppeteer behind the scene, but I don't know how to change puppeteer version for puppeteer-sharp. If there is a way please let me know

[2020-07-16 14:17] kblok commented on #1505
@mcopur the mapping is the same as puppeteer. Puppeteer-Sharp doesn't use puppeteer under the hood. But as each version might use different Chromium APIs, so it needs a specific Chromium version in order to work. You could try using another version, but that's not guaranteed.

[2020-07-16 23:56] maguro1kan commented on #1520
I tried it but not work. VS says 'PuppeteerSharp.PuppeteerException'

[2020-07-17 17:01] mgpepe opened #1522 "PDF Gets bigger and bigger with each new generation"
### Description

I am generating a pdf from HTML. If I load the page in my browser and SaveAs, all pictures, html, css & js is less than 5MB. However, when I generate a PDF, huge files get generated and they grow in size: 70MB, 90MB, 101MB, 115MB....

### Complete minimal example reproducing the issue

Complete means the code snippet can be copied into a unit test method in a fresh C# project and

[2020-07-18 13:07] kblok commented on #1522
Could you share some HTMLs with me? at least by email?

[2020-07-18 22:01] kerohero commented on #1492
@kblok this should be solved with #1521

[2020-07-18 22:31] kblok commented on #1492
Awesome. Thank you @kerohero!

[2020-07-18 22:31] #1492 closed

[2020-07-20 14:25] mgpepe commented on #1522
Sure, I just wrote you an email with the attached HTML

[2020-07-22 12:26] jgilbert2017 opened #1523 "targetclosedexception after updating chromium"
EDIT:
It looks like there are already a pull request to fix this issue:
https://github.com/hardkoded/puppeteer-sharp/pull/1496

Any chance of getting a patch release 2.0.4 that includes this fix?

===

Following an upgrade of chromium I get the following stack trace.

This is from code that has worked without issue for a long time.

[code]

pupeeter-sharp: 2.0.3 (problem also exists with 2.0.0)
ch

[2020-07-24 16:37] mgpepe commented on #1522
After some fiddling, I noticed that 'background image bloats significantly the size.
If I use 400kb image with the following html for pdf generation:
[code]
I get 403kb for example.

If I use that same image and I put it in the background like so:
[code]
I get about 3Mb file. It is a stable always 3Mb file, it doesn't increase like before.

[2020-07-24 17:01] kblok commented on #1522
Interesting @mgpepe can you see if you get the same results using the print to PDF in Chrome? It should be the same tool.

[2020-07-24 19:25] mgpepe commented on #1522
Printing is normal, but also, it doesn't have the right styles. We need the media screen, while this pdf is generated out of media print.

[2020-07-24 19:27] mgpepe commented on #1522
Ah! @kblok but if I tick the "background graphics" check of Chrome it looks like it uses the media screen, and then a 3mb pdf goes up to 113mb.

[2020-07-24 19:30] kblok commented on #1522
So it's chromium. I would report that here https://bugs.chromium.org/

[2020-07-24 19:30] rpopovych commented on #1523
Seeing the same issue

[2020-07-29 22:26] kerohero commented on #1505
@mcopur I'm aware of that issue, faced it myself and as you said rolling back to Chrome 78-79 solves it, that was enough for me. However my PR solves that issue too, you can run the latest Chrome just fine.

[2020-07-29 22:29] kerohero commented on #1523
@kblok #1521 Solves this, Can we get a hotfix or something?

[2020-07-30 00:07] kblok commented on #1523
Cool @kerohero. I will ship a hotfix tomorrow ;)

[2020-07-30 00:07] #1523 closed

[2020-07-30 04:46] clement128 opened #1524 "How to check if a request have been handled by interception"
Hi there, this is not a bug but more a question (sorry if it's not a right place to ask here let me know). How can I check if a request have been handled by interception?  as per here https://github.com/puppeteer/puppeteer/issues/2687#issuecomment-463922612, puppeteer it have a property named '_interceptionHandled' to use, but seems puppeteer-sharp doesn't provide it.

many thanks

[2020-07-30 14:22] kblok commented on #1523
@kerohero  PuppeteerSharp.2.0.4 shipped!

[2020-08-03 01:05] clement128 commented on #1524
Hi @kblok, I have few extension methods for example:

[code]
[code]
[code]

I want them separated and combinable on some cases
case 1:
[code]

case 2:
[code]

case 3:
[code]

[2020-08-03 15:21] DenisBalan opened #1526 "Add ability to get whole cookies within browser"
Need feature to get all cookies (not from page.GetCookiesAsync which is returning current page cookies)
The need for this is that you dont know all url's to get cookies for them,
More than that Chrome DevTools Protocol permit that, but pupetter API's doesnt.
[code]

tldr; need ability to get all browser cookies from pupetter API without specifying concrete urls

[2020-08-04 13:51] mertmtn opened #1527 "TimeoutException Timeout Exceeded: 30000ms exceeded Void MoveNext()"
When I used Puppeteer sharp to create pdf file, I am getting an error on Actual behavior.

At below this code, create a new page and timeout value comes from web config and its value is 2000ms.

        public static Page  SayfaOlustur()
        {
            //Browser browser = null;
            try
            {
                var filePath = ConfigurationManager.AppSettings["PuppeterSharpBrowse

[2020-08-04 13:54] kblok commented on #1527
@mertmtn Could you try making your code async? instead of using `.GetAwaiter().GetResult();`across the board?

[2020-08-04 14:17] mertmtn commented on #1527
Is the GetAwaiter() same logic with async/await?

[2020-08-04 14:29] kblok commented on #1527
@mertmtn no, it's not :)
`GetAwaiter().GetResult()` is blocker (see https://blog.stephencleary.com/2014/12/a-tour-of-task-part-6-results.html)

[2020-08-04 15:10] mertmtn commented on #1527
If I set Timeout value as 0 (zero), will this problem be solved?
Below link, not belongs to puppeteer sharp but puppeteer. It suggest to set timeout value is zero - 0
https://stackoverflow.com/questions/60051954/puppeteer-timeouterror-navigation-timeout-of-30000-ms-exceeded

PS: Does it matter about number of usage of the appliacation, this application like works content management system so, at l

[2020-08-04 15:30] kblok commented on #1527
Nothing should prevent you from using async/await. We know that it will work.
If you use ASP.NET FullFramework, you will need to use the AspNetWebSocketTransport.AspNetTransportFactory (https://www.nuget.org/packages/PuppeteerSharp.AspNetFramework/)

Example here https://github.com/hardkoded/puppeteer-sharp/blob/master/samples/PupppeterSharpAspNetFrameworkSample/PupppeterSharpAspNetFrameworkSample

[2020-08-10 04:07] KyleCrowley commented on #1509
I am also seeing this issue.

What is odd is that this error _sometimes_ occurs when running multiple Chrome instances via puppeteer/puppeteer-sharp. I say "sometimes" because I've seen instances where Chrome is perfectly fine when multiple instances are running/launched simultaneously. In other words, the issue seems to occur randomly.

[This issue](https://github.com/garris/BackstopJS/issues/108

[2020-08-10 12:21] mcopur opened #1529 "Intercepting requests sent by iframe"
I am trying to intercept all web requests using by Puppeteer-Sharp but it is not working properly if the request sent by IFrame which is located on the page. For instance, After navigated this link, I clicked the video [link](https://www.rtlnieuws.nl/nieuws/video/video/5173153/een-mondkapjesplicht-de-kalverstraat-gaat-dat-werken) since the video is in the iframe(maybe this is not the cause, this i

[2020-08-10 23:57] GramCreator opened #1530 "I don't know where else to ask, but does Pupeteer Sharp support the Puppeteer Extra Stealth Plugin?"
As the title says, the slack channel link wasn't working, so I don't know where else to ask.

Thanks!

[2020-08-11 05:31] #1466 closed

[2020-08-14 23:36] SimonCropp opened #1540 "add an icon?"
Perhaps https://thenounproject.com/search/?q=puppet&i=999438
![image](https://user-images.githubusercontent.com/122666/90299765-b4749f00-deda-11ea-891a-fb3f19ec9759.png)

let me know if u want a PR

[2020-08-14 23:40] kblok commented on #1540
It looks pretty cool 😎
Could you also update the docfx project with that?

[2020-08-14 23:41] SimonCropp commented on #1522
@kblok looks like this can be closed?

[2020-08-14 23:42] #1522 closed

[2020-08-15 00:01] SimonCropp commented on #1540
https://github.com/hardkoded/puppeteer-sharp/pull/1541

[2020-08-15 00:01] #1540 closed

[2020-08-17 21:07] mertmtn commented on #1527
Thanks for your help, we will consider to apply your solution when update version of our application.

We have set timeout to 0 as a temporary solution.

[2020-08-17 21:07] #1527 closed

[2020-08-18 09:10] mcopur commented on #1529
Btw, I also tried to use "MessageReceived" event in page.Client.MessageReceived but there are still missing requests and responses. Is there any way to intercept iframe requests & responses in puppeteer-sharp?

[2020-08-18 17:12] kblok commented on #1529
Do you have a code for me to test @mcopur ?

[2020-08-19 12:48] L6Echo opened #1542 "ResponseData.Headers can't deal with multiple headers with same name"
### Description

The Headers field of the ResponseData is a map of header name to header value. This assumes that every header type can be set only once, but this is assumption is not correct. E.g. the Set-Cookie may be listen multiple times.

In System.Net.Http this is solved by using a Map which maps the header name to a list of values.

### Complete minimal example reproducing the issue

When i

[2020-08-19 15:49] kblok commented on #1542
I believe [Chrome devtools protocol](https://chromedevtools.github.io/devtools-protocol/tot/Fetch/#type-HeaderEntry)  won't support duplicates there.
Won't `Page.SetCookieAsync` work for you?

[2020-08-19 16:07] L6Echo commented on #1542
The headers property is an Array of HeaderEntries. So it should be possible to set multiple headers with the same name. Except the protocol checks for uniqueness of header names. But I wouldn't expect this. Because it is a legit case.

Yes, currently i did a workaround with SetCookieAsync. But this bypasses the cookie handling of chrome and this may distort the test result. Additional the cookie h

[2020-08-20 16:21] lohithdhanakonda opened #1543 "Protocol error(Page.printToPDF): Target closed. (The remote party closed the WebSocket connection without completing the close handshake.)"
Following is the code we are using in our solution. Earlier it used to work for even larger files, but now it is not. It is failing only for files which have huge data- I got around 70 pages when I tried to print the HTML file.
We bought an APIKey for the [remote browser](https://www.browserless.io/), and there is no issue from account end because for normal-sized files it is working without any i

[2020-08-20 18:07] mcopur commented on #1529
@kblok  Thanks for your reply but I found a solution for it. When I passed "--disable-features=IsolateOrigins,site-per-process" parameter to the browser launch arguments, I was able to get all requests and responses.

[2020-08-20 18:07] #1529 closed

[2020-08-20 18:08] kblok commented on #1529
That's great @mcopur. Thanks for taking the time to come here and share the solution :)

[2020-08-24 10:20] raviprithivi opened #1544 "Headers and footers creation on pdf"
I am currently using puppeteer version 2.0.3 in the back end. I am basically trying to create a print preview option for the user so see how the final report would look like. I have tried options to create headers and footers on the html page as documented here: https://medium.com/@Idan_Co/the-ultimate-print-html-template-with-header-footer-568f415f6d2a

However these code generated headers and fo

[2020-08-24 11:05] kblok commented on #1544
Did you try something like this https://github.com/hardkoded/puppeteer-sharp/blob/e5d2c7d4b85664d1057660c2c5be0c586f458dcb/docfx_project/api/index.md#generate-pdf-files-with-custom-options?

[2020-08-24 11:19] raviprithivi commented on #1544
Hey @kblok , yep so i have a similar set up where i pass the margins, headers and footers via PdfOptions. What is can't seem to understand is the headers and footers puppetter generates seems to be outside of the actual content within the margin boxes. Any way of generating headers and footers using css seems to put the headers and footers inside the content.

So i just want to know how puppetter

[2020-08-24 13:07] kblok commented on #1544
@raviprithivi header and footer are CDP arguments (https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-printToPDF). And the CDP pass those values to the Skia engine they use to generate PDF files https://skia.org/user/sample/pdf

[2020-08-25 03:31] raviprithivi commented on #1544
@kblok Thank you so much. This helps. Also just wanted to know if there is any work being done on page-break-after: avoid property (https://www.w3schools.com/cssref/pr_print_pageba.asp)

As far as i can tell chromium still does not support it, but having that respected by the puppeteer code in some way would be vastly useful in helping create solid pdf output out of HTML. Thank you

[2020-08-25 12:10] kblok commented on #1544
It seems that property has almost no browser support. Puppeteer/Puppeteer-sharp is no more than an API over Chromium DevTools Protocols. If chromium doesn't support that there is no much we can do.

[2020-08-25 17:27] AdarshSharma1994 opened #1545 "Improve Tabloid"
Explain how would you like this document to be impoved.
Source URL: https://github.com/kblok/puppeteer-sharp/blob/master/lib/PuppeteerSharp/Media/PaperFormat.cs/#L38

[2020-08-25 17:29] kblok commented on #1545
@AdarshSharma1994 what do you think we need to do there?

[2020-08-25 17:32] AdarshSharma1994 commented on #1545
I got into a very muddy issue in which I am providing whole HTML to the puppeteer but in result only getting a single page. Everything just works perfect but only one page and rest of the data is slashed. I was trying to fix this and in the mean time clicked on wrong link although any help would be appreciated.
Thanks!

[2020-08-26 07:18] raviprithivi commented on #1544
@kblok Fair enough. Thank you anyway

[2020-08-26 07:18] #1544 closed

[2020-08-26 10:08] shoe-diamente commented on #262
For the record I was able to make it work just via:

[code]

(in my Dockerfile) and:

[code]

in my launch code.

[2020-08-27 18:00] IliaBrahinets commented on #1520
Works for me
Env: Windows 10 x64, .Net core 3.1.102, PuppeteerSharp 2.0.4
Complete code:
[code]
@maguro1kan can be an issue with your environment, provide more details

[2020-08-27 23:43] ChinaPhusun opened #1546 "How to fill a form inside an iframe with Puppeteer-Sharp"
WebUrl: http://w8r.fut168.com/
SearchCode:**11188**

I have tried to check the frames with page.Frames, but since the iframes have no name and id, difficult to find the correct frame I am looking for.
![chrome_tZFtjMKoVQ](https://user-images.githubusercontent.com/38497378/91505412-1af9b400-e902-11ea-92af-aa04627980e1.png)

[2020-08-27 23:45] kblok commented on #1546
Did you try to find it with the URL?

[2020-08-28 00:04] ChinaPhusun commented on #1546
Yeah, But Every time you open a web page, the iframe URL is different.

[2020-08-28 00:08] kblok commented on #1546
Maybe using a Contains? There is not much Puppeteer can do...

[2020-08-31 16:43] EdgeHeman commented on #1029
I was getting the same error with below line of code on Windows machine
`var browser = await Puppeteer.LaunchAsync(new LaunchOptions ());`

I tried with below syntax, and error disappears!
`var browser = await Puppeteer.LaunchAsync(new LaunchOptions {});`

[2020-09-02 14:40] natancd commented on #1150
Was anyone able to get a proper solution? I have the exact same issue.

[2020-09-07 12:09] Yeshdl opened #1547 "How to set a cookie"
I've looked at a lot of examples, none of them about how to set cookies。
Can you give me an example?
I know that setting a cookie is SetCookieAsync()
It contains the cookieparam parameter
However, how is this filled in
I use it asp.net

[2020-09-08 04:38] kevinah95 commented on #632
Thanks a lot @LamboJ

[2020-09-08 10:01] XxQuickSilverZz opened #1548 "Issue by Tracking XHR Requests for a specific website"
I want to track all XHR Requests.
but the Request Event dont fire correctly.

The event (page.Request += OnPageRequest) dont trigger correct because chrome shows me one per second and the event triggers only one time in the minute.

My C# Code:

[code]

Maybe some websites dont work? Its not documented.

[2020-09-08 20:23] kevinah95 commented on #576
You can set the PdfOptions.Width and PdfOptions.Height:

[code]

[2020-09-09 17:42] kblok commented on #1547
Hey @Yeshdl we have a few tests as example https://github.com/hardkoded/puppeteer-sharp/blob/7fca5eeeaa9e138af09e24bd98d11d128cac260b/lib/PuppeteerSharp.Tests/PageTests/Cookies/SetCookiesTests.cs#L10

[2020-09-09 21:55] mertmtn opened #1550 "Error about "Chromium revision is not downloaded. Run BrowserFetcher.DownloadAsync or download Chromium manually""
## Description

There is a method ,named OpenChromiumPage(), which open Chromium page as headless=true. While opening chromium, download zip file with revision number but its size 0KB.

After that, the method threw an exception with message says that "Chromium revision is not downloaded. Run BrowserFetcher.DownloadAsync or download Chromium manually"

Sometimes zip file extracted but when try to d

[2020-09-10 09:35] GFoley83 commented on #383
You can now use Puppeteer on Azure Functions running on Linux:
https://anthonychu.ca/post/azure-functions-headless-chromium-puppeteer-playwright/

The article talks about Node.js but I've tested the code below and it works fine.

[code]

[2020-09-13 11:54] imlokesh commented on #1550
You have to pass `ExecutablePath` to `Puppeteer.LaunchAsync`. It will look like this:

         public static async Task<Page> OpenChromiumPage()
        {
            var browserFetcher = new BrowserFetcher(new BrowserFetcherOptions
            {
                Path = "C:\\Chromium"
            });
            await browserFetcher.DownloadAsync(BrowserFetcher.DefaultRevision);
            var br

[2020-09-15 06:37] uperformkarthick opened #1551 "Chrome is getting closed after program execution"
We are doing a automation for google accounts. The automation is successful in injecting the username and password. But once the process completes the browser is getting closed. Is there any way to prevent the browser close after execution. Please find the below code for your review.

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks

[2020-09-15 13:27] kblok commented on #1551
@uperformkarthick if you want to leave the browser open, you will need to open the browser by yourself and connect to it.

This example is for Pupppeteer but it will work https://stackoverflow.com/a/55100293/2373249.

[2020-09-15 13:38] uperformkarthick commented on #1551
Yes. I am launching the chrome manually and using the Puppeteer.ConnectAsync() and able to go to a URL and do all functionalities. But once the process is finished, the browser is getting closed.

[2020-09-15 14:27] kblok commented on #1551
Ah, so sorry about that. Don't use `using` so the close is not triggered :)

[2020-09-15 14:35] uperformkarthick commented on #1551
It is working now. Thank you very much for help.

[2020-09-15 14:35] #1551 closed

[2020-09-16 18:36] HuaweiLte opened #1552 "Click Button"
### Description

Good afternoon community, could you help me know how to click on a button. I was trying this but it doesn't work for me

`await page.ClickAsync(".themableBackgroundColor");`

### Example code Html

E.g.

[code]

[2020-09-16 18:56] kblok commented on #1552
To keep the repo organized let's leave Github issues for Feature Requests, bugs, and issues.
I kindly ask you to create a question on Stack Overflow. I follow the tag [puppeteer-sharp](https://stackoverflow.com/questions/tagged/puppeteer-sharp). This will help us get more eyes on those questions and leave answers easily available to the community.
Feel free to paste the Stack Overflow link here.

[2020-09-16 18:56] #1552 closed

[2020-09-16 19:08] HuaweiLte commented on #1552
Thanks .. !

https://stackoverflow.com/questions/63926495/click-button-page-clickasync

[2020-09-16 19:34] acensmar commented on #1530
https://github.com/berstend/puppeteer-extra/issues/69
https://github.com/shravan2x/PuppeteerSharp.Extra

You can update some of the classes from here https://github.com/berstend/puppeteer-extra/tree/master/packages/puppeteer-extra-plugin-stealth/evasions.

I am able to change user agent .etc. but not the plugins. It feels like I can't mess with OnPageCreatedAsync any idea how u can run js onpagecr

[2020-09-17 10:17] agasii opened #1553 "how to set window position after launch browser"
https://stackoverflow.com/questions/63935318/puppeteer-set-window-position-after-launch

I want to dynamically reposition the window after launch puppeteer browser.
But I couldn't find a way anywhere.
How can I do this in puppeteer?

In selenium, something like this:
driver.manage().window().position = new point(100,200);

[2020-09-17 11:20] kblok commented on #1553
Let's use the question in SO.

[2020-09-17 11:20] #1553 closed

[2020-09-18 09:07] acensmar opened #1554 "Port of puppeteer-page-proxy"
### Description

Is there any port of https://github.com/Cuadrix/puppeteer-page-proxy,

[code]

<---- works only for HTTP pages. I am trying to use a PROXY API and it's not getting the HTTPS pages!

[code]

also tried that and I get an ERR_UNEXPECTED_PROXY_AUTH. I installed the certificate nothing happened! (using crawlera)

[2020-09-18 23:05] WhatFreshHellIsThis commented on #1489
Just a note to say before I attempt the workarounds people have listed that this is definitely still an issue "out of the box" with PuppeteerSharp 2.0.4 running in a .net core webapi server on Docker / Alpine linux.

I have a report printing setup and each time I run a report 3 new zombie chrome processes are added and never go away but rather build up over and over even with proper disposal insid

[2020-09-22 16:35] stianl commented on #1489
I'm running into a problem with zombie processes too - on Windows.
I cannot reproduce it as most of the time it seems to work ok.

After hanging for a few hours I killed them off from task manager and got these log messages:

[code]

I'm not sure what this means, but I'm guessing PuppeteerSharp is waiting for some response from Chromium which it never gets?

[2020-09-27 17:58] mrs01dev opened #1555 "puppeteer ,Deprecated API: page.waitFor and frame.waitFor"
Puppeteer  project :
https://github.com/puppeteer/
Had released a new version
 https://github.com/puppeteer/puppeteer/releases/tag/v5.3.0
It had Deprecated API: page.waitFor and frame.waitFor
Is there is any updates to  puppeteer-sharp?

[2020-09-27 19:53] kblok commented on #1555
My focus is now on playwright that (https://github.com/hardkoded/playwright-sharp)
But I don't see any blocker in the feature you mentioned. They are dropping and extra function.

[2020-09-30 09:32] ansbilalgit opened #1556 "Optimize instances when multiple Applications running on same machine"
### Description

I am using pupeeterr-sharp in my .net core application . Everything is running fine except I have to optimize the system resources . I have following two issues and I am looking for a way to resolve them .

- Multiple chromium processes

- Allow multiple applications to access same instance of browser

When I run my application and check my processes it display 4-5 processes of ch

[2020-09-30 22:48] AMBULATUR commented on #1554
+1

[2020-10-01 17:14] kblok opened #1558 "Fix Linux CI"
Let's fix the Linux CI.

[2020-10-01 17:15] #1428 closed

[2020-10-01 19:21] Dgaduin commented on #1417
I can tackle a few of these if you want.

[2020-10-01 19:23] kblok commented on #1417
Go for it @Dgaduin!

[2020-10-01 19:50] Dgaduin commented on #1418
Most of these are on `ConfigureAwait` - do you prefer to keep it on the same line or a new line
[code]
[code]

[2020-10-01 19:54] kblok commented on #1418
@Dgaduin let's go with the second option.

[2020-10-03 17:16] #1441 closed

[2020-10-07 07:26] mschutter commented on #1076
Is there any idea when this is going to solved? @kblok

[2020-10-07 08:10] mschutter commented on #1076
Is there any idea when this is going to solved? @kblok

In run mode:
When creating a screenshot after going to a url just after the page object has been created works.

In the [afterstep] or [afterscenario] method a screenshot is not working because the page is probably created in a different thread.

In Debug mode i can create a screenshot  in [afterstep] or [afterscenario] method.

Doesn't matte

[2020-10-07 15:32] kblok commented on #1076
@mschutter do you have any code for me to test?

[2020-10-07 17:59] mrs01dev opened #1567 "Dotnet core ,local network,Puppeteer hangs with Error "The response ended prematurely""
Dear All

Case 1 with
 Dot Net Core  console  and local network with no internet
the statement (await Puppeteer.LaunchAsync)
Result : Puppeteer launch then hangs  immediately  with Error "The response ended prematurely"

Case 2 with
 Dot Net Core  console  and internet connection working
the statement (await Puppeteer.LaunchAsync)
Result :  Puppeteer working successfully

Case 3 with
 Dot Net 4.61

[2020-10-07 18:07] Robsando commented on #1150
Hi I had similar issue.
In my case remove "using" wrapping helped.
Having await Puppeteer.LaunchAsync in using hangs.

[2020-10-07 18:55] bananbe commented on #1419
I can take a look on that :)

[2020-10-07 19:17] mrs01dev commented on #1567
Issue resolved by:
downloading latest version of  puppeteer-sharp code from https://github.com/hardkoded/puppeteer-sharp.
Remove - puppeteer-sharp v2.0.4  package - from my solution.
add project reference to -the  downloaded  puppeteer-sharp code- to my solution.
Thanks

[2020-10-08 11:34] mschutter commented on #1076
Just found out it was caused by something else. Screenshot is working fine. sorry for the trouble.

[2020-10-08 12:02] #1567 closed

[2020-10-08 12:33] bulat-gab commented on #1558
Hello, can you please provide some more information?

[2020-10-08 12:47] kblok commented on #1558
Yes @bulat-gab.
The Linux CI, triggered by https://ci.appveyor.com/project/kblok/puppeteer-sharp-esipd/builds/35593283,  started failing a few months ago. See https://github.com/hardkoded/puppeteer-sharp/blob/master/appveyor-linux.yml

The job would be trying to see what needs to be changed in that yml to bring that back to life.

[2020-10-10 09:48] RahulSapkota commented on #1558
hi, how do i provide the chromium installed path link in .net core.

[2020-10-10 10:47] kblok commented on #1558
@RahulSapkota `LaunchAsync` has an `executablePath` attribute in the `LaunchOptions`. You can also use the environment variable `PUPPETEER_EXECUTABLE_PATH` from outside the code.

[2020-10-10 10:59] mmehdidehghani opened #1570 "Allow Microphone and Camera Access"
I am using puppeteer-sharp to enter a virtual conference and retrieve data, but I have to pass the permission prompt for microphone and camera, my codes are:

var browser = await Puppeteer.LaunchAsync(new LaunchOptions { Headless = true, Timeout = 50000, Args = new[] { "--use-fake-device-for-media-stream" }});
var context = browser.DefaultContext;
await context.ClearPermissionOverridesAsync();
awa

[2020-10-10 11:05] kblok commented on #1570
Maybe related to this upstream issue https://github.com/puppeteer/puppeteer/issues/3241

[2020-10-10 11:52] mmehdidehghani commented on #1570
Dear kblok
Thanks for your response.
I checked that and I couldn't run that on c#:
const granted = await page.evaluate(async () => {
  return (await navigator.permissions.query({name: 'camera'})).state;
});
Could you please help me?

[2020-10-10 11:53] kblok commented on #1570
@mmehdidehghani here you have an example :)
https://github.com/hardkoded/puppeteer-sharp/blob/7fca5eeeaa9e138af09e24bd98d11d128cac260b/lib/PuppeteerSharp.Tests/PageTests/BrowserContextOverridePermissionsTests.cs#L14

[2020-10-10 15:45] mmehdidehghani commented on #1570
Dear kblok
It worked!!!!!!
Thankssssssssss for your help.
Best Regards

[2020-10-10 15:55] #1570 closed

[2020-10-12 15:59] RahulSapkota commented on #1558
i am using chromium.exe within the folder inside project itself. but when i use the same in linux i think .exe is not working.  can you please help on this like how to run this in linux. please refer to below screen.i am alreadyng using the attribute you mentioned.

![image](https://user-images.githubusercontent.com/10920769/95767067-e5ebca00-0cd3-11eb-9c5f-9979f1147260.png)

[2020-10-12 18:51] #1555 closed

[2020-10-13 11:30] #1419 closed

[2020-10-16 08:23] verybox0 commented on #1150
Below is code which works for me:
[code]
**Before, without "IgnoreHTTPSErrors" and "Args", I am stuck too.**

[2020-10-16 11:04] #1439 closed

[2020-10-16 11:04] #1437 closed

[2020-10-21 09:03] victornor opened #1575 "Protocol error (Runtime.callFunctionOn) on remote debugger"
**Issue**
I'm having this strange exception, which seems to happen randomly, shortly after making the connection.

**Exception**
"Protocol error (Runtime.callFunctionOn): Session closed. Most likely the Page has been closed.Close reason: The remote party closed the WebSocket connection without completing the close handshake."

**Stacktrace**
"  at PuppeteerSharp.CDPSession.SendAsync(String method,

[2020-10-21 09:08] victornor commented on #1575
I apologize for somehow failing to find the issue #1492
I am however already on PuppeteerSharp 2.0.4 and PR #1521 seems to not have fixed the issue for me.

[2020-10-21 16:54] Uceef94 opened #1576 "Puppeteer and Cloudflare"
### Description

I'm having a hard time with cloudflare based websites, especially with the js challenge.

### Complete minimal example reproducing the issue
[code]

### Expected behavior:

Wait for a countdown of 5sec then get redirected to the website.

### Actual behavior:

Wait for a countdown of 5sec then the page reload and countdown starts again.

### Versions

* Which version of PuppeteerS

[2020-10-21 18:58] RahulSapkota commented on #1558
i have fixed it and get it working on linux as well but not sure why it's very very slow :(

[2020-10-21 20:35] unruledboy opened #1577 ".NET Core 3.1 in Windows 10 with chrome Win64-706915 failed to load"
**Before you file a bug, have you:**

* Tried upgrading to newest version of PuppeteerSharp, to see if your issue has already been resolved and released? Yes
* Checked existing open *and* closed [issues](https://github.com/kblok/puppeteer-sharp/issues?utf8=%E2%9C%93&q=is%3Aissue), to see if the issue has already been reported? Yes
* Tried reproducing your problem in a new isolated project? Yes
* C

[2020-10-22 02:23] unruledboy commented on #1577
I manually downloaded the latest version of chromium from the official website (https://download-chromium.appspot.com/) and copied all the files to the chrome-win folder, then it is working

[2020-10-22 15:58] victornor commented on #1575
@kblok You don't consider this a bug?

[2020-10-22 16:07] kblok commented on #1575
@victornor it could be.
`The remote party closed the WebSocket connection without completing the close handshake.` generally means that the browser crashed.  It depends on what makes the browser crash.

[2020-10-22 16:10] victornor commented on #1575
So this would most likely be an issue on the docker side, rather than the client(PuppeteerSharp) side?

[2020-10-22 16:13] kblok commented on #1575
@victornor do you get any log on docker?

[2020-10-22 16:15] victornor commented on #1575
I don't get any logs on the docker container.
But i'm using browserless docker image, so there might be some argument to enable logging.
Will look more into that!

[2020-10-22 18:14] victornor commented on #1575
Apparently browserless kills sessions automatically after 30 seconds.
The argument is called "connection timeout", so i didn't think this was the issue.

Thanks for your time.

[2020-10-22 18:14] #1575 closed

[2020-10-24 14:02] hieuxlu commented on #1543
I want to investigate this, but when you say it "used to work", which version was that?

[2020-10-24 14:30] lohithdhanakonda commented on #1543
I think we can close this. We have used some external cloud links for images where they've deployed in, it was one of the reasons the pdf generation was taking time. Also we updated the timeout in Headless browser settings. Now everything is alright. Thanks.

[2020-10-24 14:30] #1543 closed

[2020-10-24 15:04] Overmiind commented on #1530
Hi, I recommend you to use my library - https://github.com/Overmiind/Puppeteer-sharp-extra because the library from the above comment is not working and hasn't been updated in 9 months.
I am going to update and support other plugins soon

[2020-10-30 17:30] vdurante opened #1580 "WaitForXPathAsync not working"
### Description

`WaitForXPathAsync` is not working

### Complete minimal example reproducing the issue

[code]

### Versions

.net core 3.1 + puppeteerSharp 2.0.4

[2020-10-30 17:56] #1580 closed, assigned to nobody

[2020-11-02 16:01] #1500 closed

[2020-11-03 09:55] Xeevis opened #1581 "Using Chromium installed by snap results in "Timed out after 30000 ms while trying to connect to Base!""
Hello I have trouble getting latest Puppeteer-sharp to connect to snap chromium instance.

On Ubuntu 20.04.1 LTS Server I've installed Chromium via

    sudo snap install chromium

And try to launch it in code with

    await Puppeteer.LaunchAsync(new LaunchOptions() { ExecutablePath = "/snap/bin/chromium"});

![image](https://user-images.githubusercontent.com/5835044/97971805-e4d62600-1dc3-11eb-8

[2020-11-03 14:09] bbhxwl opened #1582 "Centos7 screenshot, Chinese garbled."
Centos7 screenshot, Chinese garbled.

page.GetContentAsync()    This code is not garbled. Only the screenshots are garbled.

[2020-11-03 17:28] bbhxwl opened #1583 "How to set the page size? It looks like the page is out of shape."
How to set the page size? It looks like the page is out of shape.

[2020-11-04 06:30] caffreysbb opened #1584 "how can execute js code when creating a new tab?"
how can i execute js code when creating a new tab?

[2020-11-05 14:40] bbhxwl opened #1585 "How to get HTML and properties of control?"
var list = await page.QuerySelectorAllAsync("a");
                        foreach (var item in list)
                        {
                          var v=  item.GetPropertyAsync("value");
                        }

[2020-11-05 15:13] Meir017 commented on #1585
@bbhxwl looks like you posted the solution?

I think this should be moved to [stackoverflow](https://stackoverflow.com/search?q=puppeteer-sharp)

[2020-11-05 15:14] #1585 closed

[2020-11-10 05:56] RakeshYadvanshi commented on #1150
Hi Everyone,

if anyone still facing issues.
I have sorted this issue by adding ConfigureAwait(false)

var browser = await Puppeteer.LaunchAsync(new LaunchOptions { Headless = true }).**ConfigureAwait(false)**;
var page = await browser.NewPageAsync().**ConfigureAwait(false)**;

where ever it stuck try to add **ConfigureAwait(false)** for async method only

[2020-11-11 16:45] litan1106 opened #1586 "Feature Request: .NET5 Support"
.NET 5 released.

https://devblogs.microsoft.com/dotnet/announcing-net-5-0/

[2020-11-11 16:56] kblok commented on #1586
@litan1106 PuppeteerSharp is netstandard2.0. It should work with .NET 5

[2020-11-11 18:08] litan1106 commented on #1586
Yes, it works but .NET 5 is the future.
https://devblogs.microsoft.com/dotnet/the-future-of-net-standard/

[2020-11-11 20:15] kblok commented on #1586
@litan1106 time will tell.
If we move to .NET 5 we will leave a lot of people out. netstandard is just an interface. If you use it on a .NET 5 project it will run crazy fast :)

[2020-11-11 21:34] jzabroski commented on #1586
@kblok I think the ask should be for the tests to pass on `net5.0` TFM, see:

https://github.com/hardkoded/puppeteer-sharp/blob/master/lib/PuppeteerSharp.Tests/PuppeteerSharp.Tests.csproj#L4

[2020-11-11 21:35] kblok commented on #1586
We can for sure do that @jzabroski  :)

[2020-11-11 21:39] jzabroski commented on #1586
The reason this is important is complicated and I've been arguing with Immo Landwerth about this for awhile, but basically, two nuget packages don't necessarily compose well especially when across TFMs and FrameworkReference dependencies.  The easiest way to pseudo-guarantee compatibility is to provide various TFM targets so that the end user can trick the compiler into choosing the right dependen

[2020-11-11 21:46] jzabroski commented on #1586
Updated previous reply

[2020-11-11 21:46] kblok commented on #1586
We can start changing the TFM on the test project and wait for user feedback. We had some huge headaches with .NET Framework and .NET Core, but we solved that with the right tests and some optional tweaks. I hope .NET 5.0 will be a friendly partner.

[2020-11-11 21:52] jzabroski commented on #1586
I think if you run into issues, DM me on Twitter.  I know that Microsoft wants to limit headaches, so would be good to pass consolidated feedback.  Counter-examples are the best way to instruct better design at times.

[2020-11-11 21:54] kblok commented on #1586
Thanks for the insight @jzabroski!
I will try your scenario tomorrow. My focus now is on https://github.com/microsoft/playwright-sharp.
Let's keep in touch :)

[2020-11-11 21:56] jzabroski commented on #1586
Neat, Just saw Playwright Sharp.  Have you been in touch with the person behind AbotX?  The main pain point with robotic automation APIs is sometimes you need a real web browser, and other times you can just do a headless test.  And there is no uniform API across all the scenarios.

[2020-11-11 21:59] kblok commented on #1586
I never heard about AbotX. PlaywrightSharp is part of the Playwright family https://playwright.dev/. We are doing pretty cool things there :)

[2020-11-12 00:44] jzabroski commented on #1586
The guy behind AbotX is super friendly in my limited experience.

[2020-11-17 05:16] RileyCodes opened #1587 "PagesAsync does not return current list of pages after opened a new tab"
PagesAsync always return only two tabs from following code, if a user clicked a link and opens a new tab, the new tab does not appear from PagesAsync. issue occur when there is an infinite loop

in actual project, I am experiencing this issue after I executed some JS code to click a link and wait for a new page to appear in a loop by polling with PagesAsync

is this a bug or am I doing something w

[2020-11-21 09:37] RileyCodes commented on #1587
a strange fix would be add another await operation before PagesAsync

works just fine:
[code]

[2020-11-25 21:11] matyasbach commented on #1556
Have you tried PuppeteerSharp.Puppeteer.ConnectAsync()?
https://github.com/hardkoded/puppeteer-sharp#connect-to-a-remote-browser

[2020-11-29 13:38] gfaessler opened #1588 "Browser Launch option Arg "--remote-debugging-address=0.0.0.0" triggers Exception"
### Description
Browser Launch option arg "--remote-debugging-address=0.0.0.0" triggers Exception

[code]

### Expected behavior:
"--remote-debugging-address=0.0.0.0" should be possible to listen on all interfaces
### Actual behavior:
ArgumentException : IPv4 address 0.0.0.0 and IPv6 address ::0 are unspecified addresses that cannot be used as a target address.

### Versions

* PuppeteerSharp 2.0.

[2020-11-29 13:54] kblok commented on #1588
Hey @gfaessler, why do you need to set those values?

[2020-11-29 18:36] gfaessler commented on #1588
Well I would like to be able to connect to remote debugger from several others machines

[2020-11-29 18:46] kblok commented on #1588
What's your scenario? Can't you use ConnectAsync?

[2020-11-29 20:30] gfaessler commented on #1588
Well I would like to automate some tasks using a puppeteersharp page and then connect to the page using Chrome to perform some checks manually. This is why I thought to use remote debugging. I have to check if browserless.io allows this.

[2020-12-03 17:20] gfaessler commented on #1588
I confirm it works perfectly using ConnectAsync

[2020-12-03 17:20] #1588 closed

[2020-12-05 23:10] gfaessler opened #1589 "Using (Browser browser = await Puppeteer.ConnectAsync()) causes Browser to close when disposed"
### Description
When using (Browser browser= await Puppeteer.ConnectAsync()) to connect to an existing chromium browser, the entire chromium browser closes when the browser.Dispose() method is called

### Complete minimal example reproducing the issue
[code]

### Expected behavior:
Remote browser should not be closed, only runtime ressource should be released. Several tabs could be open on the rem

[2020-12-07 06:50] bt-serdarbuyuktemiz opened #1590 "Improve docfx_project/examples/index.md"
Explain how would you like this document to be impoved

getting innerText example should be added

[2020-12-08 10:22] d668 opened #1591 "Improve WaitForResponseAsync(Func<Response, Boolean>, WaitForOptions)"
The example
[code]
doesn't work, not C# for sure and even if I correct, still doesn't

The example is actually here https://www.puppeteersharp.com/api/PuppeteerSharp.Page.html

[2020-12-08 10:25] d668 commented on #1591
and the next example
[code]
doesn't work either. I am getting `System.TimeoutException: 'Timeout of 30000 ms exceeded'`

[2020-12-08 18:57] shaosh opened #1592 "Can't create multiple Browsers in parallel, and see some Process exceptions"
**Before you file a bug, have you:**

* Tried upgrading to newest version of PuppeteerSharp, to see if your issue has already been resolved and released? - Yes
* Checked existing open *and* closed [issues](https://github.com/kblok/puppeteer-sharp/issues?utf8=%E2%9C%93&q=is%3Aissue), to see if the issue has already been reported? - Yes
* Tried reproducing your problem in a new isolated project? - Y

[2020-12-09 01:53] zxstack opened #1593 "WaitForNavigationAsync always fail after click"
[code]

I have tested this on several sites
This does not work when the page is reloaded or moved after clicking

**How to use waitfornavigationasync to wait for the page to finish loading caused by a click?**

Event Type Moniker	Event	Time	Duration	Thread
	Exception thrown: '**System.TimeoutException**' in mscorlib.dll ("Timeout of 30000 ms exceeded") Exception thrown: 'System.TimeoutException' i

[2020-12-09 10:59] kblok commented on #1593
I would wrap both tasks into a WhenAll

[code]

[2020-12-09 11:02] kblok commented on #1591
Are you sure you are not calling WaitForResponseAsync too late?

[2020-12-09 11:20] d668 commented on #1591
It seems pretty straightforward according to the [test case](https://github.com/hardkoded/puppeteer-sharp/blob/master/lib/PuppeteerSharp.Tests/PageTests/WaitForResponseTests.cs#L17)
Just navigate to any image URL with Page.WaitForResponseAsync

            var imgUrl = "https://avatars2.githubusercontent.com/u/2198466";
            await page.WaitForResponseAsync(imgUrl);

I also updated the link

[2020-12-09 11:23] kblok commented on #1591
@d668 can you post a test breaking?

[2020-12-09 11:50] d668 commented on #1591
public static async Task Do()
        {
            await new BrowserFetcher().DownloadAsync(BrowserFetcher.DefaultRevision);
            var browser = await Puppeteer.LaunchAsync(new LaunchOptions
            {
                Headless = false,
            });
            var page = (await browser.PagesAsync()).First();
            var imgUrl = "https://avatars2.githubusercontent.com/u/2198466";

[2020-12-09 11:51] d668 commented on #1591
or am I supposed to do something like this? Which also doesn't work
[code]

[2020-12-09 16:53] d668 opened #1594 "If no Page.Request event handler is specified, await page.SetRequestInterceptionAsync(true) causes the browser to hang"
### Description

If no  `Page.Request +=` event handler is specified,  `await page.SetRequestInterceptionAsync(true);` causes the browser to hang

### Complete minimal example reproducing the issue

        public static async Task Do()
        {
            await new BrowserFetcher().DownloadAsync(BrowserFetcher.DefaultRevision);
            var browser = await Puppeteer.LaunchAsync(new LaunchOpt

[2020-12-09 16:56] kblok commented on #1594
If you use `SetRequestInterceptionAsync(true)`, you need to implement `Page.Request +=`  to intercept the request and at least call `ContinueAsync`.

[2020-12-09 17:06] d668 commented on #1594
imho this shouldn't be designed this way, there is no compile warning, the issue is basically undetectable. The advantage of C# is compile time warnings and all the logic that supports fast development. In this case I have to remember to comment this like if I commented another one. Can if be fixed?

[2020-12-09 17:12] kblok commented on #1594
A few thoughts.
1. Not all the usage errors are solved by the compiler. If so, we would live in a bug-free world :)
2. PuppeteerSharp is a port of Puppeteer. If Puppeteer hangs we hang.
3. I don't see many people falling into this trap. If you want to intercept a request you have to implement the event. It wouldn't make any sense to set SetRequestInterception if you don't want to intercept.

[2020-12-09 17:14] d668 commented on #1594
does Puppeteer hang?

[2020-12-09 17:14] kblok commented on #1594
it does

[2020-12-09 17:16] d668 commented on #1594
Compiler warning would be nice at least. Node is a constant pain, that's why we use C# over here

[2020-12-09 22:05] KoalaBear84 opened #1595 "Get newest Chromium stable revision id"
Continuation from https://github.com/microsoft/playwright-sharp/issues/1045

### Description

What's the best way to get the newest Stable release revision id?

### Complete minimal example reproducing the issue

1. http://omahaproxy.appspot.com/
2. See Win x64 stable at branch_base_position 812852
3. But this revision is not on https://commondatastorage.googleapis.com/chromium-browser-snapshots/i

[2020-12-09 22:09] kblok commented on #1595
Why don't you download the required version with `BrowserFetcher`?

[2020-12-09 22:11] KoalaBear84 commented on #1595
You mean the default? There is no option to do like:

[code]

[2020-12-09 22:16] kblok commented on #1595
The revision used by the latest version is `706915`. Why don't you use that?

[2020-12-09 22:18] KoalaBear84 commented on #1595
That's Chromium 79.0.3945.0 from December 11, 2019, almost a year ago, and I like to keep a little up to date 😂

[2020-12-09 22:28] kblok commented on #1595
You could try `818858`. But I'm not 100% sure

[2020-12-09 22:31] KoalaBear84 commented on #1595
With 818858 I get 88.0.4298.0.

OK, thanks, then I know it's not that I'm missing something. ✌

[2020-12-09 22:31] #1595 closed

[2020-12-10 01:14] #1593 closed

[2020-12-10 01:14] zxstack commented on #1593
Thank you for your help !!

[2020-12-10 16:48] LastTribunal commented on #1550
Chrome is downloaded in its own version folder
C:\ChromiumDL\Win64-706915 (folder created by the downloaded)
How do you specify that folder in the executable path?

[2020-12-10 17:13] kblok commented on #1550
BrowserFetch will always create its own folder. You can get that folder if you call `GetRevisionInfo` and get the `ExecutablePath` property from there.

[2020-12-10 18:02] LastTribunal commented on #1550
Thanks, having trouble figuring out how to call GetRevisionInfo..

[2020-12-11 11:11] d668 commented on #1216
I have a similar issue await page.GoToAsync(url, options); gets rejected by proxy authentication and stays with open credentials dialog indefinitely. I guess a workaround solution in this case to periodically check for old Chrome instances and kill them causing app exception that you can catch

[2020-12-13 14:13] venky8951 commented on #1438
Hi Kbllok, Can i take up this rule violation fix ? this is my first contribution to open source and I found this project interesting
If you have any other Rules which are very important let me know i will try to fix violations

[2020-12-13 14:14] kblok commented on #1438
@venky8951 go for it!

[2020-12-14 10:49] KoalaBear84 commented on #1594
Well, I did also went down this rabbit hole and was lost for maybe an hour why it didn't work anymore :)

I wouldn't mind that it throws and exception when SetRequestInterceptionAsync is set but no event handler is set. But maybe that could break something indeed. Just wanted to let you know that you are not alone :)

[2020-12-14 10:53] kblok commented on #1594
Thank you for sharing that @KoalaBear84 😉

[2020-12-14 11:52] #1438 closed

[2020-12-15 20:34] effyteva opened #1597 "Chrome.exe never closes"
Hi,

We're constantly running into issues on our production environment,
Puppeteer seems to leave some chrome.exe processes open (even after we close our .NET process completely).
We're creating the Browser Instance with a "using" syntax: using var Browser = await Puppeteer.LaunchAsync.
We're also creating new pages with the same syntax: using var Page = await Browser.NewPageAsync();

Is there any

[2020-12-16 20:40] dma550 opened #1598 "hint for custom attributes please?"
hey all

I am trying to extract a custom attribute from an image.  I have properly discovered the images I want and just want their data-zoom-image.  All other attributes are working ok, but I cannot get data-zoom-image.
`<img border="0" class="img-responsive zoomable hidden aslick-loading" alt="some alt text" data-lazy="https://www.x.net /sku/1234/1RJ9031.png" data-zoom-image="https://www.x.net /

[2020-12-17 15:31] AnshimDev opened #1599 "Cannot get form data from waitforrequestasync"
**Before you file a bug, have you:**

* Tried upgrading to newest version of PuppeteerSharp, to see if your issue has already been resolved and released?
* Checked existing open *and* closed [issues](https://github.com/kblok/puppeteer-sharp/issues?utf8=%E2%9C%93&q=is%3Aissue), to see if the issue has already been reported?
* Tried reproducing your problem in a new isolated project?
* Considered if

[2020-12-17 16:20] clement128 opened #1600 "missing handleSIGTERM in launch options"
It seems don't support all launch options yet compare with puppeteer nodejs version. (https://github.com/puppeteer/puppeteer/blob/main/docs/api.md#puppeteerlaunchoptions)

And `handleSIGTERM` I think it's quite important if running on some autoscale platform for example Kubernetes.

[2020-12-17 16:24] kblok commented on #1600
I didn't find a solid way of supporting that using the .NET API. But I'm willing to see PRs covering this feature.

[2020-12-17 18:57] jzabroski opened #1601 "WaitForSelectorOptions API: Timeout should be TimeSpan"
I would rather write code like this:

[code]

than this:

[code]

I'd also probably prefer passing in a CancellationToken rather than having the Async method reify its own token.  In that way I can more naturally express that a sequence of `async` methods should share the same CancellationToken logic.

[2020-12-17 19:50] jzabroski commented on #1601
Another thing this would dovetail with is the ability to cancel tests in aggregate.

[code]

then in your test class:

[code]

ClickOptions, GoToAsync, etc should all use CancellationToken instead of Timeout, IMHO, unless I misunderstand the intent.

[2020-12-18 01:36] jzabroski commented on #1597
@effyteva Can you try something like this? https://stackoverflow.com/a/7189381/1040437

The idea is to kill all processes spawned by your process that launches browses via Puppeteer.

You can put this in the shutdown event.

[2020-12-18 02:35] jzabroski commented on #1352
I ran into the same problem.
In my case, it only happens when I use the code path in WaitForSelectorAsync that injects JavaScript to check if an element is hidden or not.  It seems that once this JavaScript is injected, it seriously slows down the page.

I believe the reason the tests don't catch this is it only repro's on a very, very large page. I am using PuppeteerSharp to write an automated sm

[2020-12-18 02:54] jzabroski commented on #1352
I realize you might not be interested in a full repro with SSRS, but if you did, you can get 2008 SSRS AdventureWorks reports here:
https://github.com/microsoft/Reporting-Services/blob/master/PaginatedReportSamples/

The above link contains several sample reports that do not require a database connection.  They literally just render the report.

However, if you want to simulate a large database, y

[2020-12-18 15:47] jzabroski opened #1603 "Add chrome extension docs"
https://github.com/hardkoded/puppeteer-sharp/pull/1602#issuecomment-747850968

[2020-12-18 15:48] jzabroski commented on #1603
@kblok I don't understand how adding the docs in the location you suggest causes it to update puppeteersharp.com?

[2020-12-18 15:49] jzabroski commented on #1352
Actually, after I restarted Visual Studio, the performance of my tests increased.  But the longer Visual Studio stays open, the longer the tests seem to take.  I suppose it could be a problem with SSRS having some memory leak, but it seems to go away after I restart Visual Studio, and comes back when I run the tests many many times.

[2020-12-18 16:01] kblok commented on #1603
You create an MD file (like the ones we have there).  You add the entry in the toc.yml file. And when we ship a new version the site will be updated.

[2020-12-18 16:02] jzabroski commented on #1603
Got it.  the toc.yml is the part I was missing.

[2020-12-19 12:20] venky8951 commented on #1436
Hi @kblok can I take up to fix this rule ? will try these 1305,1720,1721 too

[2020-12-19 12:21] kblok commented on #1436
@venky8951 go for it!

[2020-12-20 11:32] effyteva commented on #1597
Hi @jzabroski
I could try that, but it won't really help in our case,
Our software (Windows Service) is always running, and should automatically open and close chrome instances. We can't afford restarting our service and killing all chrome instances on some interval. We would rather solve the issue that's causing chrome instances to remain open.

[2020-12-20 21:44] AnshimDev commented on #1599
I want to mention that this behavior is happening only with request of resource type "fetch" which only accepts json as posdata and not binary...

[2020-12-21 14:41] rodion-andreev-d8 opened #1605 "Some Chinese symbols are grabled, when you're using PdfAsync() method;"
### Description

Some of Chinese letters are grabled after PDF creating.

### Complete minimal example reproducing the issue

Please try with these chinese symbols 屯門區 entered on your page in browser. And after that use Puppeteer and take PdfDataAsync method.
// Arrange
 await using var browser = await Puppeteer.LaunchAsync(new LaunchOptions
                {
                    Headless = true

[2020-12-21 15:31] kblok commented on #1605
@rodion-andreev-d8 do you get that if you print to PDF using Chrome?

[2020-12-21 15:51] rodion-andreev-d8 commented on #1605
@kblok
![image](https://user-images.githubusercontent.com/66254512/102795163-7b36c900-43bd-11eb-9140-12461b9700cf.png)
all internally

[2020-12-21 16:17] kblok commented on #1605
But, do you get that if you print to PDF using Chrome navigating the page manually?

[2020-12-21 16:32] #1424 closed

[2020-12-21 16:32] #1430 closed

[2020-12-21 16:32] #1434 closed

[2020-12-21 16:32] #1436 closed

[2020-12-21 16:49] rodion-andreev-d8 commented on #1605
@kblok More info. When i run this app locally using Visual Studio all is working well. When a build it using docker i catch that issue.
this is a part of dockerfile
![image](https://user-images.githubusercontent.com/66254512/102800930-a02f3a00-43c5-11eb-820c-1114ff8aa286.png)

[2020-12-22 14:41] venky8951 commented on #1605
Hi @kblok I feel since we are using Convert.FromBase64String() we may encounter this problem can we try Encoding.Unicode.GetBytes() in [ ProtocolStreamReader.cs](https://github.com/hardkoded/puppeteer-sharp/blob/master/lib/PuppeteerSharp/Helpers/ProtocolStreamReader.cs) ReadProtocolStreamByteAsync()
Guide me if I'm on right path, if we can do this to fix this issue

[2020-12-22 14:43] kblok commented on #1605
I'm not quite sure @venky8951. We are getting the content of the PDF there, not the text itself.

[2020-12-22 17:04] rodion-andreev-d8 commented on #1605
@kblok @venky8951 SOLVED. We had to use new fonts for asian symbols.
we/ve updated like here
![image](https://user-images.githubusercontent.com/66254512/102914106-deddf680-4490-11eb-9a06-edbeb56fb3c3.png)

[2020-12-22 18:34] #1598 closed

[2020-12-22 18:35] dma550 commented on #1598
Needed to iterate through the dataset.

    var dsimgPrimary = await imgPrimary.GetPropertyAsync("dataset");
                        var zoomImagePrimary =
                            (await dsimgPrimary.GetPropertyAsync("zoomImage")).JsonValueAsync().Result;
                        if (zoomImagePrimary != null)

[2020-12-23 15:07] jzabroski commented on #1601
I guess, in some cases, the Timeout is actually a JavaScript timeout? e.g., https://github.com/hardkoded/puppeteer-sharp/blob/a5d0cf019b69484074d64922ac7e23ada1f05e93/lib/PuppeteerSharp/WaitTask.cs#L30

[2020-12-27 14:24] kevinbuyck opened #1606 "Revision info should check whether executable path exists, instead of folder path"
### Description

Currently the revision info 'downloaded' flag only checks whether the folder path exists, but it should check whether the executable path/file exists.

On my local machine the executable (and other files) seem to be disappearing sometimes (I don't really know why/haven't checked), but the folders stay. This means that with the current check for PuppeteerSharp everything is correct

[2020-12-27 17:24] venky8951 commented on #1542
Hi @kblok can I start looking into this ? seems like we need to implement RespondAsync for List<strings>(values)

[2020-12-27 17:25] kblok commented on #1542
If you can make it work without breaking any test, go for it!